include /mixins.pug
html(lang="en")
    head
        title Gear | Osmium: Galaxies of Fantasy Adventure
        +header

        // My Files
        link(href='./../content/style.css', rel='stylesheet', type='text/css')
        script(src='./../content/javascript/script.js')

    body
        +navbar
        .container-fluid
            .row
                .hidden-xs.col-lg-2
                .col-lg-8.col-12
                    h1 Gear

                    h2 Weapons

                    h3 Melee Weapons
                    .card
                        .card-header.d-table-cell.align-middle
                            h5 Melee Weapons
                            button#btn-melee-weapons.btn(data-toggle='collapse', data-target='#div-melee-weapons' onclick="toggleCollapseArrow('melee-weapons');") &ndash;
                        #div-melee-weapons.collapse.show
                            .table-responsive
                                table#tbl-melee-weapons.table.table-striped
                                    thead
                                        tr
                                            th(scope="col") Name
                                            th(scope="col") Skill
                                            th(scope="col") Damage 
                                            th(scope="col") Crit
                                            th(scope="col") Range
                                            th(scope="col") Encumbrance 
                                            th(scope="col") Price
                                            th(scope="col") Rarity 
                                            th(scope="col") Hardpoints 
                                            th(scope="col") Special 
                                    tbody
                                        +gear-weapon('Brass Knuckles', 'Brawl', '+1', 3,'Engaged',0,20,1,0,'')
                                        +gear-weapon('Rapier', 'Melee', '+0', 2,'Engaged',0,250,5,1,'Accurate 1, Defensive 2')
                                        +gear-weapon('Combat Knife', 'Melee', '+1', '3','Engaged','0','20','1','0','')
                                        +gear-weapon('Spear', 'Melee', '+2', '4','Engaged','2','90','2','1','Accurate 1, Defensive 1')
                                        +gear-weapon('Sword', 'Melee', '+2', '2','Engaged','3','250','3','1','Defensive 1, Pierce 1')
                                        +gear-weapon('Axe', 'Melee', '+3', 3,'Engaged',2,150,3,1,'Vicious 1')
                                        +gear-weapon('Shield', 'Melee', '+0', 6,'Engaged',1,75,3,1,'Defensive 1, Deflection 1, Inaccurate 1, Knockdown')
                                        +gear-weapon('Shield, Large', 'Melee', '+1', 5,'Engaged',2,200,4,2,'Defensive 2, Deflection 2, Inaccurate 2, Knockdown')
                                        +gear-weapon('Shield, Riot', 'Melee', '+2', 5,'Engaged',2,300,4,2,'Cumbersome 4 Defensive 2, Deflection 2, Inaccurate 1, Knockdown, Reinforced')
                                        +gear-weapon('Mace / Hammer', 'Melee', '+3', 4,'Engaged',4,250,5,1,'Accurate 1, Defensive 2')
                                        +gear-weapon('Greataxe', 'Melee', '+4', 3,'Engaged',4,350,5,3,'Cumbersome 3, Pierce 2, Vicious 2')
                                        +gear-weapon('Greathammer', 'Melee', '+4', 4,'Engaged',5,350,5,3,'Cumbersome 3, Disorient 2, Knockdown, Vicious 2')
                                        +gear-weapon('Greatsword', 'Melee', '+4', 2,'Engaged',3,300,5,3,'Defensive 1, Pierce 1, Unwieldy 3')
                                        +gear-weapon('Stunstick', 'Melee', '+4', 5,'Engaged',2,50,4,0,'Stun Damage')
                                        +gear-weapon('Whip', 'Melee', '+4', 4,'Short',3,150,2,0,'Ensnare 1, Unwieldy 2')
                                        //-
                                            +gear-weapon('Baton', 'Melee', '+2', 5,'Engaged',2,50,3,1,'Disorient 2')

                    h3 Ranged Weapons
                    .card
                        .card-header.d-table-cell.align-middle
                            h5 Ranged Weapons
                            button#btn-ranged-weapons.btn(data-toggle='collapse', data-target='#div-ranged-weapons' onclick="toggleCollapseArrow('ranged-weapons');") &ndash;
                        #div-ranged-weapons.collapse.show
                            .table-responsive
                                table#tbl-ranged-weapons.table.table-striped
                                    thead
                                        tr
                                            th(scope="col") Name
                                            th(scope="col") Skill
                                            th(scope="col") Damage 
                                            th(scope="col") Crit
                                            th(scope="col") Range
                                            th(scope="col") Encumbrance 
                                            th(scope="col") Price
                                            th(scope="col") Rarity 
                                            th(scope="col") Hardpoints 
                                            th(scope="col") Special 
                                    tbody
                                        +gear-weapon('Compact Blaster', 'Ranged (Energy)',4,3,'Short',1,400,3,1,'Accurate 1, Pierce 2')
                                        +gear-weapon('Holdout Blaster', 'Ranged (Energy)',4,3,'Short',1,600,6,1,'Accurate 1, Pierce 2, See Description')
                                        +gear-weapon('Blaster Pistol', 'Ranged (Energy)',6,4,'Medium',1,650,4,1,'Accurate 1, Pierce 2')
                                        +gear-weapon('Heavy Blaster Pistol', 'Ranged (Energy)',7,3,'Medium',2,800,6,1,'Accurate 1, Pierce 2')
                                        +gear-weapon('Blaster Rifle', 'Ranged (Energy)',8,3,'Long',4,1100,6,2,'Accurate 1, Pierce 2')
                                        +gear-weapon('Blaster Assault Rifle', 'Ranged (Energy)',9,3,'Long',5,1325,7,3,'Accurate 1, Autofire, Pierce 2')
                                        +gear-weapon('Sniper Blaster', 'Ranged (Energy)',12,2,'Extreme',5,2500,7,3,'Accurate 3, Pierce 2, Prepare 2')
                                        +gear-weapon('Compact Pistol', 'Ranged (Projectile)',4,3,'Short',1,400,3,1,'')
                                        +gear-weapon('Pistol', 'Ranged (Projectile)',6,4,'Medium',1,650,4,1,'')
                                        +gear-weapon('Heavy Pistol', 'Ranged (Projectile)',7,3,'Medium',2,800,6,1,'')
                                        +gear-weapon('Rifle', 'Ranged (Projectile)',8,3,'Long',4,1100,6,2,'')
                                        +gear-weapon('Assault Rifle', 'Ranged (Projectile)',9,3,'Long',5,1325,7,3,'Autofire')
                                        +gear-weapon('Sniper Rifle', 'Ranged (Projectile)',12,2,'Extreme',5,2500,7,3,'Accurate 2, Pierce 1, Prepare 2')

                    h2 Armor
                    .card
                        .card-header.d-table-cell.align-middle
                            h5 Personal Armor
                            button#btn-armor.btn(data-toggle='collapse', data-target='#div-armor' onclick="toggleCollapseArrow('armor');") &ndash;
                        #div-armor.collapse.show
                            .table-responsive
                                table#tbl-armor.table.table-striped
                                    thead
                                        tr
                                            th(scope="col") Name
                                            th(scope="col") Defense, Melee
                                            th(scope="col") Defense, Ranged
                                            th(scope="col") Soak
                                            th(scope="col") Encumbrance
                                            th(scope="col") Price
                                            th(scope="col") Rarity 
                                            th(scope="col") Hardpoints 
                                            th(scope="col") Special 
                                    tbody
                                        +gear-armor('Dense Clothing', 0, 0, 1, 1, 50, 0, 0, '')
                                        +gear-armor('Technical Vest', 0, 0, 1, 3, 300, 5, 3, '')
                                        +gear-armor('Padded Armor', 0, 0, 2, 2, 500, 1, 0, '')
                                        +gear-armor('Combat Vest', 1, 1, 1, 3, 1000, 6, 1, '')
                                        +gear-armor('Heavy Combat Armor', 1, 1, 2, 6, 5000, 7, 4, '')
                                        +gear-armor('Carapace Armor', 0, 0, 3, 3, 2500, 5, 3, '')
                                        +gear-armor('Specialist Armor Set', 0, 0, 1, 3, 1500, 7, 1, 'When a character acquires this armour, they nominate one skill for it be permanently specialised for. The wearer then upgrades any skill check that matches the armour’s specialisation.')
                                        //-
                                            +gear-armor('Power Armor', 2, 2, 2, 8, 10000, 10, 5, 'The wearer increases their Brawn attribute by +1. However, they apply two bb to any Coordination or Stealth checks.')
                                            +gear-armor('Wingsuit', 0, 0, 1, 3, 1500, 7, 1, 'Wearer takes no falling damage, assuming they’re able to open both arms to extend the gliding membrane. Wearer can also make extended gliding leaps if they’re launching from a high enough point.')

                    h2 Gear
                    .card
                        .card-header.d-table-cell.align-middle
                            h5 Other Gear
                            button#btn-other-gear.btn(data-toggle='collapse', data-target='#div-other-gear' onclick="toggleCollapseArrow('other-gear');") &ndash;
                        #div-other-gear.collapse.show
                            .table-responsive
                                table#tbl-other-gear.table.table-striped
                                    thead
                                        tr
                                            th(scope="col") Name
                                            th(scope="col") Price
                                            th(scope="col") Encumbrance
                                            th(scope="col") Rarity 
                                            th(scope="col") Special 
                                    tbody
                                        +gear-other('Autohealers',50,0,2,'')
                                        +gear-other('Backpack',25,'+4',3,'')
                                        +gear-other('Disguise Kit',150,1,5,'')
                                        +gear-other('Lock Bypass Kit',250,1,4,'')
                                        +gear-other('Medkit, Emergency',100,1,1,'')
                                        +gear-other('Medkit, Standard',500,2,3,'')
                                        +gear-other('Memescape Interface, Standard',100,0,3,'')
                                        +gear-other('Space Suit',100,4,1,'+2 Rarity planet-side')
                                        +gear-other('Toolkit',350,4,2,'')
                                        +gear-other("Traveler's Pack",75,3,3,'')
                                        +gear-other("Walkie Talkies",200,0,4,'')
                                        +gear-other("Ritual Components",200,2,5,'')
                                        +gear-other("Ritual Components, Refill",75,0,4,'')

            +footer