include /mixins.pug
html(lang="en")
    head
        title How the Universe Works | Osmium: Galaxies of Fantasy Adventure
        +header

        // My Files
        link(href='./../content/style.css', rel='stylesheet', type='text/css')
        script(src='./../content/javascript/script.js')

    body
        +navbar
        .container-fluid
            .row
                .hidden-xs.col-lg-2
                .col-lg-8.col-12
                    h1 How the Universe Works

                    .card.toc
                        #div-toc-header
                            div: strong Table of Contents
                            div: label#btn-toc(data-toggle='collapse', data-target='#div-toc' onclick="toggleTOCArrow('toc');" ) [+]
                        #div-toc.collapse
                            p: a(href='#Memescape') Memescape
                            p: a(href='#UTV') UTV
                            p: a(href='#SmartMatter') Smart Matter
                            p: a(href='#Money') Money and Currency
                            p: a(href='#AI') A.I. and Robots
                            p: a(href='#FTL') FTL
                            p: a(href='#Progenitors') Progenitors

                    
                    h3#Memescape The Memescape
                    p.text-center
                        img.img-fluid(src='./../content/images/universe_memescape.jpeg')
                    p The memescape is the computer network of Osmium. It is an augmented reality much like that depicted in any near-future fiction, filled with floating glyphs, ethereal interfaces, and informational overlays. Using a memescape rig (usually a band wrapped around a forearm), a person can call up the equivalent of wikipedia for anything they’re looking at, ‘tag’ people they meet with notes, and even have a ‘handshake’ exchange basic information upon first meeting.
                    p More advanced rigs incorporate VI to allow for better analysis of information. The information is only as good as the data onboard – landing on a new planet, you only get information in the most general sense unless you’ve connected with a memescape hub on the planet.

                    h5 Physical Proximity and Computer Access
                    p In a world with gods, time travel, and malevolent AIs, a distributed network is deadly. When a hack of your computer can result in the termination of your life, a distributed network is even more deadly. As such, long before Terrans walked upright, the networking of memescape became completely localized. The ultimate security is proximity and physical ownership.
                    p There is no remote access, no email. Most users cannot access a memescape hub more than one or two hundred feet away. If you wish to send a message to someone distant, you put it in an “outbox”, where it is synced with others memescapes as you pass by. Getting a message to someone on the other side of the planet can often take days, if not weeks. (On dense planets with lots of intercontinental travel, hours.) Another planets can easily take weeks. The best way to get a message out it to wait in the hub of a starport (and indeed, most major starports have special waiting areas just for this purpose).
                    p As such, hacking is a very physical endeavor. To break into a computer, you must either bring yourself to the mountain or bring the mountain to you. Many hackers are elite infiltration experts, capable of breaking past many layers of physical security in order to gain access to the computer.

                    h3#UTV The Universal Translator Virus
                    p The Universal Translator Virus is a virus that predates most known civilizations. It is contagious amongst almost all known biological sentient species. It can be spread by touch, through the air, and through psychic communication.
                    p Its only real symptom is the ability to understand other languages. It is not fatal.
                    div.sidenote
                        h6 The Virus and Authorial Privilege
                        p I speak English and a fair amount of Spanish. So in theory, the UTV should translate all Chinese and Hindi. But I’m not comfortable with that level of “let’s give every character a Euro-centric name”. So, in the interests of not naming everybody John, any Earth name is considered of sufficient awareness to your characters that it doesn’t need to be translated further. Additionally, there are accepted to be suble distinctions between #[em Maria], #[em Mary], #[Mariam], and the like - the names mean slightly different things. And likewise, alien names can be translated to any Earth-language name and the translation will stop there. So while you won’t encounter any Tolkienesque #[em Whûn-dora-dhûn], you will encounter a Turkish #[em Ismet Sener].
                    p A given infected sentient can learn a language by talking to another sentient within one to two days. Even if they don’t speak or listen to the unknown language, being in close proximity to a group of infected who do speak the language will result in its acquisition. The more of the language the infected listens to, and the more speakers they interact with, the faster acquisition occurs. Landing in a starport, a sentient can often learn to speak the language in as little as two to four hours.
                    p At any given time, between two and four hundred languages can be retained.
                    p If an infected encounters a language in a fixed medium (watching a video, reading a book), the language can take up to a week to decipher, but with a sufficient corpus the virus will eventually translate. If a text is encoded, such that those who speak the language wouldn’t be able to understand it (cyphers, etc.), the virus may or may not be able to decode it, though even then it may take weeks. (Codes are usually solvable, cyphers are usually not.)
                    p The UTV is a cornerstone of modern intergalactic society. It allows a diplomat or trader to land on an unknown planet and speak the language to begin trading by the time their ship is refueled and repaired.

                    h3#SmartMatter Smart Matter
                    p 'Smart matter' refers to a variety of substances that can adapt to their circumstances. Using nanobots, quantronics, and lingering magical substrate, smart matter can ‘become’ something else. It is usually of a type – edible smart matter can become food, while industrial smart matter can become heavy machinery and construction smart matter can become a concrete wall with memescape and plumbing fixtures built in. Truly 'universal smart matter' is rare and very, very expensive.
                    p Some smart matter is 'inert' – it requires an activator to function. Other smart matter is 'living' – it is constantly adapting. Edible smart matter is usually inert – it needs to be activated by a foodfab or its packaging, and then it is the pad thai or meatloaf dish that you selected and will never be anything else. Modern melee weapons usually contain living smart matter, which immediately responds to the wielder’s balance, and configures itself to the fight at hand. Smart matter melee weapons alter their mass and balance as the weapon is swung, changing their density and sharpness the moment they touch their opponent, updating in real time to cut through your opponent's armor.

                    h3#Money Money and Currency
                    p
                        img.img-fluid.img-right-floater(src='./../content/images/universe_money.png')
                    h3#AI Artificial Intelligences and Robots
                    h3#FTL Faster-Than-Light Travel
                    h3#Progenitors Progenitors

        +footer