include mixins.pug
html(lang="en")
    head
        title Changelog | Osmium: Galaxies of Fantasy Adventure
        +header

        // My Files
        link(href='content/style.css', rel='stylesheet', type='text/css')
        script(src='content/javascript/script.js')

    body
        +navbar
        .container-fluid
            .row
                .col-lg-2.hidden-xs
                .col-lg-8.col-12
                    h1 Changelog 
                    p This changelog only tracks substantive rules changes. For changes to code, see https://github.com/emersonp/emersonp.github.io
                    h5 October 29, 2018
                    p Added #[em Unto the Breach] and #[em Adaptable] to Talents. Tier 3 Talents ongoing.
                    h5 October 28, 2018
                    p Added #[em Fatale] and #[em Sense Emotions] to Talents.