include mixins.pug
html(lang="en")
    head
        title Osmium: Galaxies of Fantasy Adventure
        +header

        // My Files
        link(href='content/style.css', rel='stylesheet', type='text/css')
        script(src='content/javascript/script.js')

    body
        +navbar
        .container-fluid
            .row
                .col-lg-2.hidden-xs
                .col-lg-8.col-12
                    h1 Osmium 
                    br
                    p(style="font-size: 200%; font-style: italic;") Galaxies of Fantasy Adventure
                    p
                        em by Parker Harris Emerson
                    h2 Intro to Osmium Universe 
                    p The Osmium Universe is one of infinite possibilities, a kitchen-sink where awesome is dialed to 11. This is full minotaurs with chain guns and undead dragon hackers kitchen-sink, where every trope is included where it would heighten the players sense of enjoyment and enthusiasm.
                    p The GM should be a fan of their players, and the players should be excited to play in the universe, so the universe has to be epic enough for the players to feel truly grandiose against the backdrop.
                    h3 Premises and Tropes
                    h4 Elves… in SPAAAAAAAAACE
                    img.img-fluid.img-right-floater(src='content/images/intro_space_elf.jpeg')
                    p I've always admired games like #[em Rifts] and #[em Warhammer 40K] for just saying “Fuck it, we've got elves. And rail guns.” If you're willing to suspend your disbelief to allow for power armor and FTL travel and weird aliens, why not just make the weird aliens #[elves]? So, that's what we're doing. Elves in space. All those mythological creatures you've ever heard of? Wandering explorers, petty tyrants, uplift sociologists. When we got to the stars, there were aliens. They were minotaurs and dwarves and liches.
                    h6 Other Humans
                    p Humans exist on many planets. They far predate humans on Earth. They might have slightly blue skin, or three purple birthmarks on each temple, or a slight skin-fold on the nose, but if they can interbreed, they're called humans. Humans from Earth are called #[strong Terrans].
                    h4 Technology == Magic
                    p I'm going for an Marvel Cinematic Universe / Asgaard approach to technology. What's the difference between an arcane ritualist and a scientist? A labcoat. Magic is technology and it's omnipresent.
                    h4 Cinematic Awesome Trumps Science
                    p 
                        em Though consistency is key.
                    p I don't actually care how anything really works, I just care about (a) how it looks, and (b) how predictable it is for you as players. Always assume that any science bullshit reason I give you for something is only 90% true, and the other 10% is magic. It is important to me that you feel confident in the truths I have said: if I tell you something is impermeable to fire, it should be, regardless of future science truths that I find on YouTube. If I tell you something and it turns out not to be true, it should be revealed as a new truth for your characters, not as a “GM fiat” bait-n-switch.
                    h3 Inspirations
                    ul                 
                        li Rifts
                        li Kill Six Billion Demons
                        li Warhammer 40K (#[em but more, like, the Young Adult Novels in the 40K Universe - more optimistic tone])
                        li Marvel Cinematic Universe / Marvel Cosmic
                        li World of Warcraft / DotA
                        li Rick and Morty
                        li Mass Effect
                        li Star Wars
        +footer