include mixins.pug
html(lang="en")
    head
        title Osmium: Galaxies of Fantasy Adventure
        +header

        // My Files
        link(href='content/style.css', rel='stylesheet', type='text/css')
        script(src='content/javascript/script.js')

    body
        +navbar
        .container-fluid
            .row
                .col-lg-2.hidden-xs
                .col-lg-8.col-12
                    h1 Osmium 
                    p: em by Parker Harris Emerson

                    img.img-fluid(src='content/images/index_banner.png', style='margin-bottom: 1rem;')

                    h5 Galaxies of Fantasy Adventure
                    p The Osmium Universe is one of infinite possibilities, a kitchen-sink where awesome is dialed to 11. This is full minotaurs with chain guns and undead dragon hackers kitchen-sink, where every trope is included where it would heighten the players sense of enjoyment and enthusiasm.
                    p The GM should be a fan of their players, and the players should be excited to play in the universe, so the universe has to be epic enough for the players to feel truly grandiose against the backdrop.
                    p The universe is designed so that the tone should match Spielberg. Star Wars. Action and adventure, where plucky heroes save the day, but occasionally there is also a brief detour to have a commentary on fascism.

                    h5 Genesys RPG
                    p The setting was designed for use with #[a(href='https://www.fantasyflightgames.com/en/news/2017/6/27/genesys/') Genesys Role Playing System], handily the most fun I've had with an RPG, probably ever.
                    p The #[strong Players]' section, above, is where you'll find the kind of rules info a player needs to build a character. The #[strong GM] section above is more rules on the universe and so forth. Players can still poke around there, generally without too much worry. The #[strong Adventures] section, though - that's strictly off-limits for players. That's behing-the-curtain territory.

                    h5 State of the Site
                    p #[strong November 15, 2018:] The site is currently under active development. Currently focusing on editing and fixing existing pages.

        +footer