include mixins.pug
html(lang="en")
    head
        title Osmium: Galaxies of Fantasy Adventure
        +header

        // My Files
        link(href='content/style.css', rel='stylesheet', type='text/css')
        script(src='content/javascript/script.js')

    body
        +navbar
        .container-fluid
            .row
                .col-lg-2.hidden-xs
                .col-lg-8.col-12
                    h1 Osmium 
                    br
                    p(style="font-size: 200%; font-style: italic;") Galaxies of Fantasy Adventure
                    p The Osmium Universe is one of infinite possibilities, a kitchen-sink where awesome is dialed to 11. The GM should be a fan of their players, and the players should be excited to play in the universe, so the universe has to be epic enough for the players to feel truly grandiose against the backdrop.
                    h2 The Second
                    p Text Text
                    p More text text
                    h3 The Third
                    p &nbsp; And the third.
                    h4 And the Fourth
                    p The Osmium Universe is one of infinite possibilities, a kitchen-sink where awesome is dialed to 11. The GM should be a fan of their players, and the players should be excited to play in the universe, so the universe has to be epic enough for the players to feel truly grandiose against the backdrop.
                    h5 And the Five Time Champion
                    h6 Six Town
                    .read-aloud.p-4
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus semper vitae eros nec facilisis. Sed vel interdum velit. Donec cursus consectetur ligula id vehicula. Integer a lectus rutrum, fringilla leo in, dapibus quam. Aenean viverra nulla ac mi rutrum efficitur. Quisque euismod volutpat magna in placerat. Duis faucibus sodales magna a accumsan. Nunc lacinia massa lectus, iaculis varius metus maximus id. Quisque ut tortor quis libero placerat molestie.
                        p Donec commodo dictum laoreet. Pellentesque eget facilisis quam. Mauris volutpat leo et tristique dictum. Integer finibus libero at mi tincidunt, vulputate cursus erat fringilla. Integer magna dui, ultricies vitae tellus at, finibus pretium est. Proin id elit ante. Aenean rhoncus eros at urna ultrices pharetra sit amet at urna.
                        p Donec ac convallis nisi. In aliquam, mi in tristique fringilla, ipsum neque sollicitudin metus, sit amet ullamcorper ipsum ante ac felis. Donec et porta neque, ac tempor ipsum. Ut tristique a nunc non elementum. In dapibus laoreet nunc at sollicitudin. Nulla scelerisque consectetur dolor consequat vulputate. Curabitur accumsan odio suscipit, posuere lacus quis, porta erat. Vivamus porta nisi vitae dolor dictum tristique. Donec eu blandit risus, vitae ultricies nisi.
                    .archetype
                        span.bra 2
                        span.agi 4
                        span.int 3
                        span.cun 1
                        span.wil 5
                        span.pre 4
                    .card
                        table#tbl-second-table.table.table-striped
                            thead
                                tr
                                    th(scope="col") d10
                                    th(scope="col") Encounter
                                    th 
                                        button.btn(onclick="rollOnTable('tbl-second-table');", style="float: right;") Roll
                            tbody
                                tr
                                    th(scope="row") 1
                                    td(colspan='2') A second table to test rolling function.
        +footer