@font-face {
    font-family: EotE;
    src: url("fonts/eote.otf") format("opentype");
}

@font-face {
    font-family: Genesys;
    src: url("fonts/Genesys.ttf") format("TrueType");
}

@font-face {
    font-family: Bebas Neue;
    src: url('fonts/BebasNeue-Regular.eot');
    src: url('fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-Regular.woff2') format('woff2'),
         url('fonts/BebasNeue-Regular.woff') format('woff'),
         url('fonts/BebasNeue-Regular.ttf') format('truetype'),
         url('fonts/BebasNeue-Regular.svg#svgFontName') format('svg');
}

body {
    background-color: linen;
}

/* div.read-aloud {
    background-color: #A0E5CE;
    font-size: 1.4em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-color: yellow;
    border-width: thick;
} */

/* 
    CARDS
*/
div.card {
    margin-top: 1rem;
    margin-bottom: 1rem;
    clear: both;
}

.card-header button {
    float: right;
}

.card-header h5 {
    float: left;
    margin-bottom: 0rem;
    margin-top: 0.5rem;
}

/* 
    READ ALOUD
*/
div.read-aloud {
    display:block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3rem;
    font-style: italic;
    background-color: lavenderblush;
    color: green;
    border-right: 3px double green;
    border-left: 3px double green;
    border-radius:20px;
    padding:10px 15px 10px 15px;
    /*position:relative;*/
    clear: both;
    margin: 1rem 0rem;
}

div.read-aloud>p:last-child {
    margin-bottom: 0rem;
}

.talent-stat>p:not(:last-child) {
    margin-bottom: 0px;
}

.talent-stat p {
    font-size: .92em;
}

.spell-stat p {
    margin-bottom: 0rem;
}

h1 {
    color: #1ABEEF;
    text-transform: uppercase;
    font-size: 3.5rem;
}

/* h1 + p:first-letter, h2 + p:first-letter {
    font-size: 3.5rem;
    font-family: Garamond, serif;
    font-weight: 800;
    line-height: 112%;
    margin-bottom:-9px;
    margin-right:2px;
    margin-top:-5px;
    float:left;
} */

h2 {
    color: #1ABEEF;
    font-variant: small-caps;
    display: table;
    font-size: 2.66rem;
}

h2::after {
    content:"";
    border-bottom: 2px solid #CCCCCC;
    display: table;
    width:100%;
    margin-top:-5px;
    margin-left:20px;
}

h3 {
    color: #1ABEEF;
    font-variant: small-caps;
    display: table;
    font-size: 2rem;
}

h4 {
    color: #ed9629;
    font-variant: small-caps;
    display: table;
    font-size: 1.66rem;
}

h5 {
    color: #326DA1;
    font-variant: small-caps;
    display: table;
    font-size: 1.3rem;
}

h6 {
    color: #ea702b;
    font-variant: small-caps;
    display: table;
    font-size: 1.3rem;
    border-bottom: 1px solid #ea702b;
}

/*
    SIDEBAR
*/
.sidenote {
    float: right;
    padding: 0.5rem 1rem;
    background-color: #000044;
    color: white;
}

.npc-sidenote {
    float: right;
    padding: 0.5rem 1rem;
    border: 3px;
    border-style: solid;
    display: block;
    background-color: white;
}

@media screen and (min-width: 768px) {
    .sidenote {
        max-width: 320px;
        margin: 0rem 0rem 2rem 1rem;
    }
    .npc-sidenote {
        max-width: 370px;
        margin: 0rem 0rem 2rem 1rem;
    }
}

@media screen and (max-width: 767px) {
    .sidenote {
        margin: 0rem 0rem 2rem 0rem;
    }
    .npc-sidenote {
        margin: 0rem 0rem 2rem 0rem;
    }
}

.npc-sidenote p, .npc-sidenote li, .npc-sidenote ul {
    margin-bottom: 0.1rem;
    font-size: 0.9rem;
}

.npc-sidenote h6 + p {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-style: italic;
}

.npc-sidenote h6 {
    margin-bottom: 0rem;
}

.npc-sidenote img {
    margin-bottom: 0.5rem;
}

.npc-sidenote th, .npc-sidenote td {
    border: 1px solid black;
    padding: 0.2rem 0.4rem;
    font-size: 0.9rem;
}

.npc-sidenote th {
    background-color: lightblue;
}

.npc-sidenote table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0.3rem 0rem;
}

.npc-sidenote .undercenter {
    font-size: 0.6rem;
    font-weight: 800;
    text-transform: uppercase;
}

/*
    TABLE OF CONTENTS / TOC
*/

.toc {
    width: 15rem;
    padding: 0.2rem 0.5rem 0.5rem 0.5rem;
    background-color: #f8f9fa;
}

#div-toc-header>div:nth-of-type(1) {
    float: left;
}

#div-toc-header>div:nth-of-type(2) {
    float: right;
}

#btn-toc {
    cursor: pointer;
}

.toc p {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

/* 
    DICE
*/

span.dice {
    font-family: EotE;
    text-shadow: -1px -1px 0 #000,
		          1px -1px 0 #000,
                 -1px  1px 0 #000, 
                  1px  1px 0 #000;
    letter-spacing: 3px;
}

span.genesys {
    font-family: Genesys;
    font-variant: normal;
}

span.boost {
    color: #72CDDC;
}

span.setback {
    color: #000000;
}

span.ability {
    color: #41ad49;
}

span.difficulty {
    color: #6C2A84;
}

span.proficiency {
    color: #FFE800;
}

span.challenge {
    color: #7D1821;
}

/* 
    TABLES 
*/

.table {
    margin-bottom: 0rem;
}

.rolled>td, .rolled>th {
    background-color: #58D68D;
}

.table-striped>tbody>tr:not(.rolled):nth-child(odd)>td, 
.table-striped>tbody>tr:not(.rolled):nth-child(odd)>th {
   background-color: aliceblue;
 }

 td {
     font-size: 1rem;
 }

 thead th {
     background-color: #F7941E;
     font-family: 'Bebas Neue';
     /* font-weight: bold; */
     color: white;
     font-size: 125%;
     letter-spacing: 0.1rem;
 }

/* 
    POPOVERS
*/

.pop {
    cursor: pointer;
}

.pop-info
{
    color: green;
    text-decoration: underline dotted;
}

.pop-link
{
    color: purple;
    text-decoration: underline dotted;
}

/* 
    IMAGES 
*/

.img-right-floater {
    float: right; 
    margin: 0rem 0rem 2rem 1rem;
}

/* 
    STAT LAYOUT 
*/
.archetype {
    background-image: url('./images/template_archetype.png');
    height:62px;
    width:329px;
    background-size:100%;
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-size:16pt;
    }

.archetype .bra {
    position:relative;
    left:14px;
    top:4px;
    text-align:center;
    display:inline-block;
    width:25px;
}

.archetype .agi {
    position:relative;
    left:44px;
    top:4px;
    width:25px;
    text-align:center;
    display:inline-block;
}
.archetype .int {
    position:relative;
    left:74px;
    top:4px;
    width:25px;
    text-align:center;
    display:inline-block;
}

.archetype .cun {
    position:relative;
    left:103px;
    top:4px;
    width:25px;
    text-align:center;
    display:inline-block;
}
.archetype .wil {
    position:relative;
    left:133px;
    top:4px;
    width:25px;
    text-align:center;
    display:inline-block;
}
.archetype .pre {
    position:relative;
    left:162px;
    top:4px;
    width:25px;
    text-align:center;
    display:inline-block;
}

/* 
    ADVERSARY 
*/

.adversary {
    background-image: url('https://www.gmbinder.com/images/ks1JaPU.png');
    height:47px;
    width:329px;
    background-position: -3px 0px;
    background-size:102%;
    font-family: 'Bebas Neue';
    font-size:14pt;
    font-weight: bold;
}

.adversary .soak {
    position:relative;
    left:26px;
    top:13px;
    width:25px;
    text-align:center;
    display:inline-block;
}
.adversary .wound {
    position:relative;
    left:79px;
    top:13px;
    width:25px;
    text-align:center;
    display:inline-block;
}
.adversary .strain {
    position:relative;
    left:135px;
    top:13px;
    width:25px;
    text-align:center;
    display:inline-block;
}
.adversary .mdef {
    position:relative;
    left:176px;
    top:13px;
    width:25px;
    text-align:center;
    display:inline-block;
}
.adversary .rdef {
    position:relative;
    left:175px;
    top:13px;
    width:25px;
    text-align:center;
    display:inline-block;
}
.minion {
    background-image: url('https://www.gmbinder.com/images/K1aEwZa.png');
    height:63px;
    width:329px;
    background-position: 42px 0px;
    background-repeat:no-repeat;
    background-size:75%;
    font-family: 'Bebas Neue';
    font-size:14pt;
    font-weight: bold;
}

.minion .soak {
    position:relative;
    left:70px;
    top:13px;
    width:25px;
    text-align:center;
    display:inline-block;
}

.minion .wound {
    position:relative;
    left:130px;
    top:13px;
    width:25px;
    text-align:center;
    display:inline-block;
}
.minion .mdef {
    position:relative;
    left:172px;
    top:13px;
    width:25px;
    text-align:center;
    display:inline-block;
}
.minion .rdef {
    position:relative;
    left:175px;
    top:13px;
    width:25px;
    text-align:center;
    display:inline-block;
}