include /mixins.pug
html(lang="en")
    head
        title House Rules | Osmium: Galaxies of Fantasy Adventure
        +header

        // My Files
        link(href='./../content/style.css', rel='stylesheet', type='text/css')
        script(src='./../content/javascript/script.js')

    body
        +navbar
        .container-fluid
            .row
                .hidden-xs.col-lg-2
                .col-lg-8.col-12
                    h1 House Rules
                    p The following house rules are in effect at my table. You're welcome to use them or not. I've split them here into two categories - #[em Table Rules] and #[em Structural Rules]. Structural Rules are rules that you should be aware of, but don't actually come in to play at the table. Things like character generation. Table Rules are rules you should know about at the table. It's your table, but everything here is built on those assumptions.
                    h2#table-rules Table Rules
                    h5 Story Points Don't Reset (Much)
                    p The state of Story Points remains in place between sessions. However, should a session end with all the Story Points be in the Players' Pool or the GM's Pool, flip one of them to ensure that at least 1 Story Point remains in each Pool.
                    h2#structural-rules Structural Rules
                    h5 Career Skill Choice
                    p Careers include choices of career skills. Careers include starting equipment and can be a prerequisite for talents. 
                    p #[strong Thoughts:] Some GMs just allow for ad-hoc careers, since the only thing they generate is career skills, treating setting careers as suggestions. R.A.W. careers don't allow for any choice, even though the concept might work with Brawl instead of Melee, etc. This strikes a happy medium for me - choices of career skills where an archetype might allow for different options, but still structured enough to allow for prerequisite talents and trees and so forth.
        +footer