include /mixins.pug
html(lang="en")
    head
        title Osmium: Galaxies of Fantasy Adventure
        +header

        // My Files
        link(href='./../content/style.css', rel='stylesheet', type='text/css')
        script(src='./../content/javascript/script.js')

    body
        +navbar
        .container-fluid
            .row
                .col-lg-2.hidden-xs
                .col-md-8.col-12
                    h1 The Cry of Atalanta: 
                        small A Tale of the #[em Midnight Euphony]
                    h2 Introduction
                    p #[em The Cry of Atalanta] is an introductory adventure for the Genesys System, set in the Osmium Universe. It's the first adventure in a series of adventures about the starship #[em Midnight Euphony].
                    h5 Background
                    h5 Overview
                    h5 Adventure Hooks
                    h5 Getting to Shalespear III

                    h2 Painted Wall

                    .card
                        .card-header.d-table-cell.align-middle
                            h5 Painted Wall Encounters 
                            button#btn-painted-wall-encounters.btn(data-toggle='collapse', data-target='#div-painted-wall-encounters' onclick="toggleCollapseArrow('painted-wall-encounters');") &ndash;
                        #div-painted-wall-encounters.collapse.show
                            table#tbl-painted-wall-encounters.table.table-striped
                                thead
                                    tr
                                        th(scope="col") d20
                                        th(scope="col") Encounter
                                        th 
                                            button.btn(onclick="rollOnTable('tbl-shalespear-encounters');", style="float: right;") Roll
                                tbody
                                    tr
                                        th(scope="row") 1
                                        td(colspan='2') A wandering priest of Esther the Gentle, offering healing and alms in return for hours of communal prayer.
                                    tr
                                        th(scope="row") 2
                                        td(colspan='2') A group of drunk Human mercenaries looking for entertainment, possibly a fight.
                                    tr
                                        th(scope="row") 3
                                        td(colspan='2') A Vrar drug-dealer offering various forms of escape.
                                    tr
                                        th(scope="row") 4
                                        td(colspan='2') A Summer Elf beggar with her baby, imploring the PCs for money or a trip off the planet.
                                    tr
                                        th(scope="row") 5
                                        td(colspan='2') A Human flees a group of Hegemony mercenaries. The Human is a smuggler whose imported goods were not quite up to snuff (a matter in dispute)
                                    tr
                                        th(scope="row") 6
                                        td(colspan='2') A group of Summer Elf mercenaries spread wreaths and ashes on the shore of the island, saying goodbye to a lost compatriot who wanted to be laid to rest on the mercenary party island.
                                    tr
                                        th(scope="row") 7
                                        td(colspan='2') A very drunk Minotaur mercenary wants everybody to come in to a tavern and drink their fill on her.
                                    tr
                                        th(scope="row") 8
                                        td(colspan='2') A sad and tipsy Human veteran throws rocks into the ocean, offering to share their tales of adventure for a few pennies.
                                    tr
                                        th(scope="row") 9
                                        td(colspan='2') A Vrar woman drags an Elf in manacles through the street. She will not brook questions about her endeavor.
                                    tr
                                        th(scope="row") 10
                                        td(colspan='2')
                                            | A Human pilot begs for a little fuel matter, enough to get him to 
                                            a.pop.pop-info(data-toggle="popover", tabindex="0", title="Popover title", 
                                            data-content="And here's some amazing content. It's very engaging. Right?") Breadbasket
                                            | .

                    h2 The #[em Shooting Star]
                    h2 The #[em Kiss From the Lad]
                    h2 The #[em San Francisco Bay]
                    h2 The #[em Midnight Euphony]

        +footer
                    //-
                        h2 Locations
                        h3 The Greasemonkey
                        .read-aloud
                            p The Greasemonkey is a cargo ship, not much more than a bulky shuttle. It's lined on one side with all manner of mechanics' tools. On the other, kegs of ale and bottles of liquor in tightly packed plastic bottles behind a bar. 
                            p Metal sheeting makes a covered area outside, with cheap plastic tables, a fan, and a holoprojector showing dwarven gladiator matches.
                        p Humility knows of three places to find clues to Atalanta’s location. She received a message from Atalanta saying only:
                        blockquote HELP SHALESPEAR THREE DANGEROUS
                        p Humility isn’t in a position to do much delving, but she’s found a few things out.
                        ul
                            li Clue 1 (Kiss from the Lad): She wasn’t able to figure out where the message came from, but Painted Wall had been quiet for a week or two (no travel), so it almost certainly was at least relayed locally. 
                            ul
                                li The players may make an 
                                    strong Average (#[span.dice.difficulty dd]) Computer check 
                                    | to find out that it came from the Kiss from the Lad.
                            li Clue 2 (Shooting Star): The crew of the Shooting Star came by and asked her to patch up some salvage before they sold it (they want to move fast and their mechanics were overwhelmed). She recognized some of the salvage as being unique to the class of ship that Atalanta disappeared on.
                            li Clue 3 (Sunken Site/San Francisco Bay): Years ago, when the Atalanta disappeared, she thought she had tracked it down. But when she went to the location where she believed the ship had crashed, she found a tectonic crack had formed and she saw no ship on her sensors. 
                            ul 
                                li A 
                                    strong Hard (#[span.dice.difficulty ddd]) Navigation check 
                                    | is required to make sense of her old notes.