include /mixins.pug
html(lang="en")
    head
        title Careers | Osmium: Galaxies of Fantasy Adventure
        +header

        // My Files
        link(href='./../content/style.css', rel='stylesheet', type='text/css')
        script(src='./../content/javascript/script.js')

    body
        +navbar
        .container-fluid
            .row
                .hidden-xs.col-lg-2
                .col-lg-8.col-12
                    h1 Careers
                    h3.text-center Battlemage
                    p 
                        img.img-fluid.img-right-floater(src='./../content/images/career_battlemage.png')
                        | The magic of Osmium is everywhere. Not confined to dusty towers and lost tomes, the ability to wield magic is a technological upgrade no different than a gun enhancement or cybernetic arm. Many pursue magical excellence for direct and physical ends. Whether they are warriors and soldiers who use their magic to ward and to kill, or explorers and merchants and laborers who cast spells to access opportunities others must pass up, the universe knows them as Battlemages.
                    p As adventurers, Battlemages bring a versatility that few can match. Their fortitude and academic backgrounds make them excellent candidates for exploring the unknown. Their training in stealth and intimidation make them capable thieves, and of course, there's always combat spellcraft.
                    h5 Career Skills
                    ul 
                        li Coercion
                        li Medicine
                        li Resilience
                        li Stealth
                        li Vigilance
                        li #[strong Choice:] Any Knowledge
                        li #[strong Choice:] Any Magic
                        li #[strong Choice:] Either Brawl or Melee
                    h5 Starting Gear 
                    ul 
                        li Warcaster Shield or Scepter of Skirmishing
                        li Dense Clothing
                        li Standard Memescape Interface with Walkie Talkie enhancement
                        li Emergency Medkit with 2 Autohealers
                        li Traveler’s Pack and Backpack
                        li 100 Credits

                    h3.text-center Entertainer
                    p 
                        img.img-fluid.img-right-floater(src='./../content/images/career_entertainer.png')
                        | Musicians. Memescape jockeys. Courtesans. The methods people employ in the pursuit of consumptive entertainment are as varied as anything in Osmium. The truth is that even in a universe of infinite possibilities, for many entertainers, their art is merely a hobby and they are forced to seek a day job. And even for those that are lucky enough to make a living bringing joy to others, permutations of existing experiences pales in comparison to art inspired by new memories.
                    p There are many campaigns where an entertainer would be out of place. And yet, despite lacking any real combat training, entertainers are capable of supporting their group in many aspects of danger. They are masters of computers, of charm, and of the more… rogueish arts. While they may lack the big guns of other adventurers, the pen is mightier than the sword.

                    h5 Career Skills
                    ul 
                        li Charm
                        li Computers
                        li Cool
                        li Coordination
                        li Deception
                        li Leadership
                        li Skulduggery
                        li Stealth
                    h5 Starting Gear
                    ul 
                        li Compact Blaster Pistol and Dense Clothing
                        li A standard Memescape Interface with Walkie Talkie enhancement
                        li Personal Holo-projector
                        li A musical instrument
                        li Disguise Kit
                        li 150 Credits

                    h3.text-center Envoy
                    p
                        img.img-fluid.img-right-floater(src='./../content/images/career_envoy.png')
                        | Empires and businesses of Osmium span galaxies, and sometimes even dimensions, and while travel can be as fast as the universe is vast, it is still far-flung. So trusted attendants, with a certain amount of discretion and judgment, are a must. Whether they be diplomats, merchants, investigators, or advocates, trusted independent operatives are what make the great societies #[em work]. 
                    p A group with an envoy can usually arrange access to places and solutions to problems that they otherwise wouldn't even consider. Well-connected, and able to make friends in places where they aren't, envoys usually travel with a retinue of lackeys to make manifest their deals.
                    h5 Career Skills
                    ul 
                        li Charm
                        li Cool
                        li Negotiation
                        li Perception
                        li Streetwise
                        li Survival
                        li Travel
                        li #[strong Choice:] Either Coercion or Deception
                    h5 Starting Gear
                    ul
                        li A one-handed melee weapon or compact pistol or compact blaster pistol
                        li Padded Armor
                        li A standard Memescape Interface with Walkie Talkie enhancement
                        li Traveler’s Pack and Backpack
                        li 2 sets of Fine Clothes
                        li 200 Credits

                    h3.text-center Explorer
                    p
                        img.img-fluid.img-right-floater(src='./../content/images/career_explorer.png')
                        | The nature of an infinite universe means there’s always a frontier to pierce. Whether it be flying a ship into unknown sectors, or delving into jungles searching for lost civilizations, there are always those who shun the trappings of civilization and the perks of community living for a chance to brave places hitherto undiscovered.
                    p As adventurers whose nature is to stray far away from people, explorers can be a valuable addition to any party except in relation to dealing with people. Warriors, hunters, scouts: explorers are experts in find hard-to-reach places and getting to them.
                    h5 Career Skills
                    ul 
                        li Athletics
                        li Coordination
                        li Deception
                        li Navigation
                        li Perception
                        li Stealth
                        li Survival
                        li #[strong Choose:] Any Combat
                    h5 Starting Gear
                    ul 
                        li Dense Clothing
                        li A light melee weapon, or a compact pistol, or a compact blaster pistol.
                        li 2 Autohealers
                        li Traveler's Pack and Backpack
                        li A standard Memescape Interface with Walkie Talkie enhancement
                        li 

                    h3.text-center Hacker
                    p 
                        img.img-fluid.img-right-floater(src='./../content/images/career_hacker.png')
                        | Anybody can be good at computers. In a universe with malevolent A.I.s, time-traveling wizards, cybernetically enhanced dragons, and the computer security to match, it takes a special type of person to break into a computer. You can’t do it remotely, so to hack a computer you have to either get in beyond the physical security, or get someone to bring the computer to you.
                    p Adventuring hackers are the most common kind of hackers. It’s far easier to bring a person to the machine than the machine to the person, so a hacker has to be good at infiltration. Repairing machinery and breaking it round out there skills. Hackers aren’t particularly skilled at small talk or small arms, but with the ability to override gun turrets and dig up incriminating blackmail, do they need to be?
                    h5 Career Skills
                    ul 
                        li Computers
                        li Mechanics
                        li Perception
                        li Piloting
                        li Streetwise
                        li Vigilance
                        li #[strong Choice:] Skulduggery or Stealth
                        li #[strong Choice:] Any Knowledge
                    h5 Starting Gear
                    ul 
                        li A Compact Blaster Pistol
                        li A Combat Knife or Brass Knuckles
                        li A Hard Case Memescape Interface with Walkie Talkie enhancement
                        li A Toolkit
                        li A Lock Bypass Kit
                        li 100 Credits

                    h3.text-center Healer
                    p 
                        img.img-fluid.img-right-floater(src='./../content/images/career_healer.png')
                        | A seven foot tall Vrar whose arm was ripped off by an overly-zealous robot, that you’ll need to regrow with some healing vats. A gelatinous ooblex who keeps shimmering through different colors, for ancestors know why reason. A Human comes in with an allergy to proximity to certain Blue Magic spells that only affect their subspecies of Human. Medicine has never been more complicated.
                    p Adventuring healers can be criminal chop-docs, surgeons-on-the-run, battlefield medics, rogue scientists, or just self-taught doctors for hire. They’re one of the more physically capable of the intellectually focused careers.
                    h5 Career Skills
                    ul 
                        li Charm
                        li Cool
                        li Discipline
                        li Science
                        li Medicine
                        li Resilience
                        li Survival
                        li #[strong Choice:] Any Combat
                    h5 Starting Gear
                    ul
                        li A light melee weapon, or a compact pistol, or a compact blaster pistol.
                        li Dense Clothing
                        li A standard Medkit
                        li Standard Memescape Interface with Walkie Talkie enhancement
                        li Traveler’s Pack and Backpack
                        li 200 Credits

                    h3.text-center Leader
                    p 
                        img.img-fluid.img-right-floater(src='./../content/images/career_leader.png')
                        | Before there was magic, before there was technology, when the first elves were being fashioned from the energy at the heart of a dying star, the first bonds between people were formed. And somebody was tendered with the responsibility of tending to those bonds. Leaders are those who step to the forefront to direct and support their fellows.
                    p Adventuring leaders are jacks-of-all trades, capable of navigating thorny social dynamics, explosive firefights, and strange horizons. The goal of a leader is not to be the best, but to ensure that their group is the best that it can be, and to be capable of making the important decisions when the chips are down.
                    h5 Career Skills
                    ul 
                        li Athletics
                        li Coercion
                        li Discipline
                        li Leadership
                        li Negotiation
                        li Survival
                        li Vigilance
                        li #[strong Choice:] Any Combat
                    h5 Starting Gear
                    ul 
                        li Blaster Pistol, Pistol, or Sword and Riot Shield
                        li Combat Vest
                        li 2 Autohealers
                        li Standard Memescape Interface with Walkie Talkie enhancement
                        li Traveler’s Pack and Backpack
                        li 150 Credits

                    h3.text-center Pilot
                    p 
                        img.img-fluid.img-right-floater(src='./../content/images/career_pilot.png')
                        | Some are tramp freighter captains, flying from port to port. Others are starfighters for an empire that may or may not value their lives. Even others are merely operational administrators for the bulk carriers that form the backbone of many great civilizations. But all are possessed of some same qualities, like a sense of wanderlust and the ability to think fast , and all are iconic figures in the eyes of the populace.
                    p Pilots are capable adventurers, providing their team with the combination of hand-eye coordination, technical aptitude, and situational awareness that allows them to fill many roles, whether it be a gunman in the forefront, or hacker in the back, or a wheelman on the side.
                    h5 Career Skills
                    ul 
                        li Coordination
                        li Gunnery
                        li Mechanics
                        li Perception
                        li Piloting
                        li Ranged [Energy]
                        li #[strong Choice:] Either Cool or Vigilance
                        li #[strong Choice:] Either Computers or Travel
                    h5 Starting Gear
                    ul 
                        li A Compact Blaster Pistol and Dense Clothing, or a Blaster Pistol
                        li Brass Knuckles or a Combat Knife
                        li A standard Memescape Interface with Walkie Talkie enhancement
                        li A standard Space Suit
                        li A Toolkit
                        li 150 Credits

                    h3.text-center Scholar
                    p 
                        img.img-fluid.img-right-floater(src='./../content/images/career_scholar.png')
                        | Not every adventurer spent their early years training for it. Even though most researchers spend their lives researching, in a universe of infinite possibilities, there are plenty of mechanicale engineers, mathematicians, magic technicians, and lorekeepers who end up in a life of perilous travel and unstable endeavors.
                    p A scholar is a preeminent expert. That's what they offer an adventuring group. They may lack certain social graces and combat expertise, but they have studied #[em everything]. 
                    p Some have even delved into the esoteric nature of magic, and while they lack the implants to manipulate it, certain rituals are within their grasp.
                    h5 Career Skills
                    ul 
                        li Computers
                        li Discipline
                        li Lore
                        li Mechanics
                        li Medicine
                        li Navigation
                        li Negotiation
                        li Science
                    h5 Starting Gear
                    ul 
                        li Dense Clothing
                        li A Toolkit
                        li A standard Medkit
                        li A Hard Case Memescape Interface with Walkie Talkie enhancement
                        li A suit of Fine Clothing
                        li 100 Credits

                    h3.text-center Scoundrel
                    p 
                        img.img-fluid.img-right-floater(src='./../content/images/career_scoundrel.png')
                        | True adventuring vagrants come from many walks of life. Most of them, however, dally in crime. Whether they be grifters, street urchins, gang members, heavies, safe-crackers, drug dealers... Scoundrels are the bread and butter of any functioning intergalactic ecosystem.
                    p In a group, coundrels are capable of everything. They are very well-rounded, able to handle themselves in social and combat situations, and to do end-runs around the need for those situations. They are usually the scouts and trap-detectors, given their skillset, but they can usually step up in a fight as well.
                    h5 Career Skills
                    ul 
                        li Cool
                        li Coordination
                        li Deception
                        li Skulduggery
                        li Stealth
                        li Streetwise
                        li #[strong Choice:] Charm or Computers
                        li #[strong Choice:] Any Combat except Gunnery
                    h5 Starting Gear
                    ul
                        li A Compact Blaster Pistol and Dense Clothing, or a Blaster Pistol
                        li Brass Knuckles or a Combat Knife
                        li A standard Memescape Interface with Walkie Talkie enhancement
                        li A Disguise Kit
                        li A Lock Bypass Kit
                        li 100 Credits

                    //- 
                        h3.text-center Socialite
                        h5 Career Skills
                        ul 
                            li Charm
                            li Cool
                            li Deception
                            li Negotiation
                            li Perception
                            li Streetwise
                            li Travel
                            li Vigilance
                        h5 Starting Gear

                    h3.text-center Soldier
                    p 
                        img.img-fluid.img-right-floater(src='./../content/images/career_soldier.png')
                        | Some are mercenary fighters. Some are street brawlers. Some are highly trained warriors. The universe is filled with strife and the implements of that strife. Soldiers are those implements, whether they be freelancers or parts of large standing armies.
                    P A group is not necessarily #[em better] with a soldier in their ranks, but they are definitely #[em stronger]. Soldiers are the warriors at the front of any armed conflict, capable of bringing destruction to the enemy and salvation to their allies.
                    h5 Career Skills
                    ul 
                        li Athletics
                        li Brawl
                        li Melee
                        li Perception 
                        li Survival
                        li Vigilance
                        li #[strong Choice:] Either Coercion or Medicine
                        li #[strong Choice:] Either Ranged [Energy] or Ranged [Projectile] or Gunnery
                    h5 Starting Gear
                    ul
                        li An assault rifle or assault blaster rifle
                        li A heavy melee weapon, or a light melee weapon and large shield
                        li A combat vest
                        li 2 Autohealers
                        li An emergency medkit or a toolkit
                        li 100 credits

                    h3.text-center Sorcerer
                    p 
                        img.img-fluid.img-right-floater(src='./../content/images/career_sorcerer.png')
                        | Becoming a spellcaster is an isolating process. The extensive surgeries to implant the cybernetics throughout your body. The training to use those implants that veers back and forth between physical therapy and actual torture. The need to understand the secret underpinnings of the universe to even make your magic work. It doesn’t leave a lot of time for making friends.
                    p And yet. Some spellcasters emerge from the process with a new found appreciation for the company of others. Or with a deeper understanding of how to use people as tools. Either way, those spellcasters are capable of acts of guile and savoir faire that may actually be magic.
                    p These sorcerers work well in an adventuring party when their magic can cover for them in physical situations, as they lack the training to do anything other than ensorcell, dissemble, and hide. But from a place of hiding, either in shadows or in secrets, sorcerers can be counted on to step forward and carry the day for their compatriots.
                    h5 Career Skills
                    ul 
                        li Charm
                        li Coercion
                        li Deception
                        li Discipline
                        li Skulduggery
                        li Stealth
                        li #[strong Choice:] Lore or Science
                        li #[strong Choice:] Any Magic
                    h5 Starting Gear
                    ul 
                        li Murphy’s Wand or Rod of Negation
                        li Dense Clothing
                        li Lock Bypass Kit or Disguise Kit
                        li Ritual Components
                        li Standard Memescape Interface with Walkie Talkie enhancement
                        li 200 Credits

                    h3.text-center Starship Captain
                    p 
                        img.img-fluid.img-right-floater(src='./../content/images/career_starship_captain.png')
                        | As much administrator as flyboy, some starship captains are more comfortable behind a desk than in a cockpit. The ships that make up the navies of Osmium can be truly gargantuan in size, dwarfing asteroids and even planets. The skillset to fly a ship of that size and to lead a crew of that size is different from that needed to manage a ship where the navigator is also the co-pilot is also the conn is also the weapons officer.
                    p A starship captain mostly makes sense in a campaign where there will be a fair amount of vehicle-oriented play, but when that assumption is met, they provide a lot of value. Any starship where they're present is better for it.
                    h5 Career Skills
                    ul 
                        li Computers
                        li Discipline
                        li Gunnery
                        li Leadership
                        li Mechanics
                        li Navigation
                        li Perception
                        li Piloting
                    h5 Starting Gear
                    ul 
                        li A Compact Blaster Pistol and Dense Clothing
                        li A standard Memescape Interface with Walkie Talkie enhancement
                        li A standard Space Suit
                        li 2 Autohealers
                        li A Toolkit
                        li 200 Credits

                    h3.text-center Tradesperson
                    p
                        img.img-fluid.img-right-floater(src='./../content/images/career_tradeperson.png')
                        | Not everybody comes from a formal background of training. Some have learned everything they know on the job. Stevedores, factory workers, builders, and other professions all make up the backbone of Osmium society. When their lives take a turn, they end up doing more than they ever set out to do as well.
                    p A tradesperson makes a strong compromise in adventuring contribution between fighters and thieves. Physically capable, but always cognicent of their situation and the situation of others, tradespeople are able to navigate most traditional "adventure" environments: abandoned starships, forgotten dungeons, cave complexes of terrible death. The usual stuff.
                    h5 Career Skills
                    ul 
                        li Athletics
                        li Discipline
                        li Mechanics
                        li Negotiation
                        li Perception
                        li Resilience
                        li Streetwise
                        li #[strong Choice:] Brawl or Melee
                    h5 Starting Gear
                    ul
                        li Padded Armor
                        li A light melee weapon and heavy shield, or a heavy melee weapon
                        li A standard Memescape Interface with Walkie Talkie enhancement
                        li A standard Space Suit
                        li A Toolkit
                        li 100 Credits

                    h3.text-center Wizard
                    p 
                        img.img-fluid.img-right-floater(src='./../content/images/career_wizard.png')
                        | After the surgery, some spellcasters become experts in combat, some become experts in the emotional condition, but some simply double down on their mastery of magic. They are the experts of the various ways magic can interact, the ways it can mirror and fold upon itself.
                    p Wizards are pure spellcasters. Their ability to bring to bear the specific magic needed for a given situation makes them powerhouses unlike other. They can augment themselves with the corruptive power of Red Magic and then use that strength to rip apart reality with Blue Magic.
                    h5 Career Skills
                    ul 
                        li Discipline
                        li Lore
                        li Navigation
                        li Resilience
                        li Vigilance
                        li #[strong Choice:] Coercion or Deception
                        li #[strong Choice:] Any Magic or Knowledge
                        li #[strong Choice:] Any Magic
                    h5 Starting Gear
                    ul 
                        li Scepter of Skirmishing or Rod of Negation
                        li Ritual Components
                        li Standard Memescape Interface with Walkie Talkie enhancement
                        li Fine Clothing
                        li 2 Autohealers
                        li 200 Credits

        +footer