include /mixins.pug
html(lang="en")
    head
        title Careers | Osmium: Galaxies of Fantasy Adventure
        +header

        // My Files
        link(href='./../content/style.css', rel='stylesheet', type='text/css')
        script(src='./../content/javascript/script.js')

    body
        +navbar
        .container-fluid
            .row
                .hidden-xs.col-lg-2
                .col-lg-8.col-12
                    h1 Careers
                    h3.text-center Battlemage
                    p 
                        img.img-fluid.img-career(src='./../content/images/career_battlemage.png')
                        | The magic of Osmium is everywhere. Not confined to dusty towers and lost tomes, the ability to wield magic is a technological upgrade no different than a gun enhancement or cybernetic arm. Many pursue magical excellence for direct and physical ends. Whether they are warriors and soldiers who use their magic to ward and to kill, or explorers and merchants and laborers who cast spells to access opportunities others must pass up, the universe knows them as Battlemages.
                    p As adventurers, Battlemages bring a versatility that few can match. Their fortitude and academic backgrounds make them excellent candidates for exploring the unknown. Their training in stealth and intimidation make them capable thieves, and of course, there's always combat spellcraft.
                    h5 Career Skills
                    ul 
                        li Coercion
                        li Medicine
                        li Resilience
                        li Stealth
                        li Vigilance
                        li #[strong Choice:] Any Knowledge
                        li #[strong Choice:] Any Magic
                        li #[strong Choice:] Either Brawl or Melee
                    h5 Starting Gear 
                    ul 
                        li Warcaster Shield or Scepter of Skirmishing
                        li Padded Armor
                        li Standard Memescape Interface with Walkie Talkie enhancement
                        li Emergency Medkit with 2 Autohealers
                        li Traveler’s Pack and Backpack
                        li 100 Credits

                    h3.text-center Entertainer
                    h5 Career Skills
                    ul 
                        li Charm
                        li Computers
                        li Cool
                        li Coordination
                        li Deception
                        li Leadership
                        li Skulduggery
                        li Stealth
                    h5 Starting Gear

                    h3.text-center Envoy
                    h5 Career Skills
                    ul 
                        li Charm
                        li Cool
                        li Negotiation
                        li Perception
                        li Streetwise
                        li Survival
                        li Travel
                        li #[strong Choice:] Either Coercion or Deception
                    h5 Starting Gear

                    h3.text-center Explorer
                    h5 Career Skills
                    ul 
                        li Athletics
                        li Coordination
                        li Deception
                        li Navigation
                        li Perception
                        li Stealth
                        li Survival
                        li #[strong Choose:] Brawl, Melee, or Ranged [Projectile]
                    h5 Starting Gear

                    h3.text-center Hacker
                    h5 Career Skills
                    ul 
                        li Computers
                        li Discipline
                        li Mechanics
                        li Perception
                        li Piloting
                        li Streetwise
                        li Vigilance
                        li #[strong Choice:] Any Knowledge
                    h5 Starting Gear

                    h3.text-center Healer
                    h5 Career Skills
                    ul 
                        li Cool
                        li Discipline
                        li Science
                        li Medicine
                        li Resilience
                        li Survival
                        li Vigilance
                        li #[strong Choice:] Either Brawl or Melee
                    h5 Starting Gear

                    h3.text-center Leader
                    h5 Career Skills
                    ul 
                        li Athletics
                        li Coercion
                        li Discipline
                        li Leadership
                        li Negotiation
                        li Survival
                        li Vigilance
                        li #[strong Choice:] Any Combat
                    h5 Starting Gear
                    ul 
                        li Blaster Pistol, Pistol, or Sword and Riot Shield
                        li Combat Vest
                        li 2 Autohealers
                        li Standard Memescape Interface with Walkie Talkie enhancement
                        li Traveler’s Pack and Backpack
                        li 150 Credits

                    h3.text-center Pilot
                    h5 Career Skills
                    ul 
                        li Coordination
                        li Gunnery
                        li Mechanics
                        li Perception
                        li Piloting
                        li Ranged [Energy]
                        li #[strong Choice:] Either Cool or Vigilance
                        li #[strong Choice:] Either Computers or Travel
                    h5 Starting Gear
                    ul 
                        li A Compact Blaster Pistol and Dense Clothing, or a Blaster Pistol
                        li Brass Knuckles or a Combat Knife
                        li A standard Memescape Interface with Walkie Talkie enhancement
                        li A standard Space Suit
                        li A Toolkit
                        li 150 Credits

                    h3.text-center Scholar
                    h5 Career Skills
                    ul 
                        li Computers
                        li Cool
                        li Discipline
                        li Lore
                        li Medicine
                        li Navigation
                        li Negotiation
                        li Science
                    h5 Starting Gear

                    h3.text-center Scoundrel
                    h5 Career Skills
                    ul 
                        li Charm
                        li Cool
                        li Coordination
                        li Deception
                        li Skulduggery
                        li Stealth
                        li Streetwise
                        li #[strong Choice:] Any Combat except Gunnery
                    h5 Starting Gear

                    h3.text-center Socialite
                    h5 Career Skills
                    ul 
                        li Charm
                        li Cool
                        li Deception
                        li Negotiation
                        li Perception
                        li Streetwise
                        li Travel
                        li Vigilance
                    h5 Starting Gear

                    h3.text-center Soldier
                    h5 Career Skills
                    ul 
                        li Athletics
                        li Brawl
                        li Melee
                        li Perception ofon
                        li Survival
                        li Vigilance
                        li #[strong Choice:] Either Coercion or Medicine
                        li #[strong Choice:] Either Ranged [Energy] or Ranged [Projectile]
                    h5 Starting Gear

                    h3.text-center Sorcerer
                    h5 Career Skills
                    ul 
                        li Charm
                        li Coercion
                        li Deception
                        li Discipline
                        li Skulduggery
                        li Stealth
                        li #[strong Choice:] Lore or Science
                        li #[strong Choice:] Any Magic
                    h5 Starting Gear
                    ul 
                        li Murphy’s Wand or Rod of Negation
                        li Dense Clothing
                        li Lock Bypass Kit or Disguise Kit
                        li Ritual Components
                        li Standard Memescape Interface with Walkie Talkie enhancement
                        li 200 Credits

                    h3.text-center Starship Captain
                    h5 Career Skills
                    ul 
                        li Computers
                        li Discipline
                        li Gunnery
                        li Leadership
                        li Mechanics
                        li Navigation
                        li Perception
                        li Piloting
                    h5 Starting Gear

                    h3.text-center Tradesperson
                    h5 Career Skills
                    ul 
                        li Athletics
                        li Brawl
                        li Discipline
                        li Mechanics
                        li Negotiation
                        li Perception
                        li Resilience
                        li Streetwise
                    h5 Starting Gear

                    h3.text-center Wizard
                    h5 Career Skills
                    ul 
                        li Coercion
                        li Discipline
                        li Lore
                        li Navigation
                        li Resilience
                        li Vigilance
                        li #[strong Choice:] Any Magic or Knowledge
                        li #[strong Choice:] Any Magic
        +footer