include /mixins.pug
html(lang="en")
    head
        title Osmium: Galaxies of Fantasy Adventure
        +header

        // My Files
        link(href='./../content/style.css', rel='stylesheet', type='text/css')
        script(src='./../content/javascript/script.js')

    body
        +navbar
        .container-fluid
            .row
                .hidden-xs.col-lg-2
                .col-lg-8.col-12
                    h1 Careers
                    h3.text-center Battlemage
                    p The magic of Osmium is everywhere. Not confined to dusty towers and lost tomes, the ability to wield magic is a technological upgrade no different than a gun upgrade or cybernetic arm. Many pursue magical excellence for direct and physical ends. Whether they are warriors and soldiers who use their magic to ward and to kill, or explorers and merchants and laborers who cast spells to access opportunities others must pass up, the universe knows them as Battlemages.
                    p As adventurers, Battlemages bring a versatility that few can match. Their fortitude and academic backgrounds make them excellent candidates for exploring the unknown. Their training in stealth and intimidation make them capable thieves, and of course, there's always combat spellcraft.
                    P
                        strong Career Skills
                    ul 
                        li Coercion
                        li Medicine
                        li Resilience
                        li Stealth
                        li Vigilance
                        li #[strong Choice:] Any Knowledge
                        li #[strong Choice:] Any Magic
                        li #[strong Choice:] Either Brawl or Melee
                    p 
                        strong Starting Gear 
                    ul 
                        li Warcaster Shield or Scepter of Skirmishing
                        li Padded Armor
                        li Standard Memescape Interface with Walkie Talkie enhancement
                        li Emergency Medkit with 2 Autohealers
                        li Traveler’s Pack and Backpack
                        li 100 Credits