include /mixins.pug
html(lang="en")
    head
        title Cheat Sheet | Osmium: Galaxies of Fantasy Adventure
        +header

        // My Files
        link(href='./../content/style.css', rel='stylesheet', type='text/css')
        script(src='./../content/javascript/script.js')

    body
        +navbar
        .container-fluid
            .row
                .hidden-xs.col-lg-2
                .col-lg-8.col-12
                    h1 Cheat Sheet
                    .card.toc
                        #div-toc-header
                            div: strong Table of Contents
                            div: label#btn-toc(data-toggle='collapse', data-target='#div-toc' onclick="toggleTOCArrow('toc');" ) [+]
                        #div-toc.collapse
                            p: a(href='#Combat') Combat
                            p: a(href='#Wounds') Wounds, Strain, Critical Injuries
                            p: a(href='#Dice') Dice Tables
                            p: a(href='#Magic') Magic

                    .card
                        .card-header.d-table-cell.align-middle
                            h5 Symbol Key
                            button#btn-symbol-key.btn(data-toggle='collapse', data-target='#div-symbol-key' onclick="toggleCollapseArrow('symbol-key');") +
                        #div-symbol-key.collapse.container
                            p(style='margin-top:1rem;') #[span.genesys s] = Success
                            p #[span.genesys f] = Failure
                            p #[span.genesys a] = Advantage
                            p #[span.genesys h] = Threat
                            p #[span.genesys t] = Triumph
                            p #[span.genesys d] = Despair
                            p #[span.dice.ability d] = Ability
                            p #[span.dice.difficulty d] = Difficulty
                            p #[span.dice.boost b] = Boost
                            p #[span.dice.setback b] = Setback
                            p #[span.dice.proficiency c] = Proficiency
                            p #[span.dice.challenge c] = Challenge

                    h2#Combat Combat
                    h5 Weapon Stats
                    ul 
                        li #[strong Damage:] A flat number means a weapon deals that much damage. A +X means that weapon does that much damage plus the wielder's Brawn. Each uncancelled #[span.genesys s] adds 1 damage to the attack.
                        li #[strong Crit:] The number of #[span.genesys a] you need to spend to cause a critical injury.
                        li #[strong Special abilities] vary in the amount of #[span.genesys a] they require to activate.
                    h5 Attack Difficulties
                    p Melee attack in engaged range has a base difficulty of #[span.dice.difficulty dd]. All modifiers are placed on that base.
                    .card
                        .card-header.d-table-cell.align-middle
                            h5 Ranged Attack Difficulties
                            button#btn-ranged-attack-difficulties.btn(data-toggle='collapse', data-target='#div-ranged-attack-difficulties' onclick="toggleCollapseArrow('ranged-attack-difficulties');") +
                        #div-ranged-attack-difficulties.collapse
                            .table-responsive
                                table#tbl-ranged-attack-difficulties.table.table-striped
                                    thead
                                        tr
                                            th(scope="col") Range
                                            th(scope="col") Difficulty
                                    tbody
                                        tr
                                            td(scope='row') 
                                                a.pop.pop-info(data-toggle='popover', tabindex='0', title='Engaged Range', data-content="Grappling / Hand-to-Hand") Engaged
                                            td #[span.dice.difficulty dd] for light Ranged #[br] #[span.dice.difficulty ddd] for heavy Ranged
                                        tr 
                                            td(scope='row') 
                                                a.pop.pop-info(data-toggle='popover', tabindex='0', title='Short Range', data-content="Up to several meters") Short
                                            td #[span.dice.difficulty d]
                                        tr 
                                            td(scope='row') 
                                                a.pop.pop-info(data-toggle='popover', tabindex='0', title='Medium Range', data-content="Up to several dozen meters away") Medium
                                            td #[span.dice.difficulty dd]
                                        tr 
                                            td(scope='row') 
                                                a.pop.pop-info(data-toggle='popover', tabindex='0', title='Long Range', data-content="Further than a few dozen meters") Long
                                            td #[span.dice.difficulty ddd]
                                        tr 
                                            td(scope='row') 
                                                a.pop.pop-info(data-toggle='popover', tabindex='0', title='Extreme Range', data-content="Possibly out of earshot") Extreme
                                            td #[span.dice.difficulty dddd]
                    h5 Modifiers
                    ul
                        li Ranged Target is Engaged with an ally: Upgrade one #[span.dice.difficulty d] to #[span.dice.challenge c]
                        li Target is #[strong prone]: Melee adds #[span.dice.boost b]; Ranged adds #[span.dice.setback b]
                        li Aiming: Add #[span.dice.boost b] if one maneuver, #[span.dice.boost bb] if two.
                        li Target is guarded: Add #[span.dice.setback b] to check.
                        li Engaged target has made a ranged attack: Add #[span.dice.boost b] to next melee attack.
                    h5 Maneuvers
                    p Only a max of two maneuvers can be performed in a turn. The first is free, the second costs 2 strain or an action.
                    ul 
                        li #[strong Aim:] Add #[span.dice.boost b] to next attack. May be taken twice in a row.
                        li #[strong Guard:] Add #[span.dice.setback b] to the next attack against the target. You may guard yourself.
                        li #[strong Assist:] Add #[span.dice.boost b] to an ally's next check. Explain how.
                        li #[strong Interact] with environment or gear.
                        li #[strong Mount] or dismount.
                        li #[strong Move:] One maneuver to move between Engaged and Short Range. Two maneuvers to move to or from Medium/Long/Extreme, each band requiring two maneuevers.
                    h5 Actions
                    ul 
                        li Activate an ability, attack, or skill check.
                        li Exchange action for maneuver.

                    h2#Wounds Wounds, Strain, and Critical Injuries
                    ul
                        li Exceeding one's Wound Threshold causes the character to be knocked out / incapacitated, and they immediately suffer one Critical Injury.
                        li Exceeding one's Strain Threshold causes teh character to be incapacitated.
                        li Roll on the Critical Injury Table when you suffer a Critical Injury. Add +10 to the roll for each critical injury you are already suffering from.
                    h5 Healing Wounds
                    ul 
                        li #[strong Natural Rest:] One night of rest heals one wound.
                        li #[strong Medicine Check:] A character may receive #[strong ONE] Medicine check per encounter to heal wounds. Difficulty is based on state of health. On a success, the target heals wounds equal to #[span.genesys s] and strain equal to #[span.genesys a].
                        ul 
                            li Medicine check difficulty is increased by 2 if a physician is healing themselves.
                            li Medicine check difficulty is increased by 1 if a physician is healing without tools. 
                        li #[strong Autohealers:] Heals #[em n] Wounds, where #[em n] is 5 minus the number of autohealers already used in the last 24 hours.
                    h5 Healing Strain
                    ul
                        li #[strong Natural Rest:] One night of rest heals all strain.
                        li #[strong End of an Encounter:] A character may make a #[strong Simple (-) Cool] or #[strong Discipline check] to recover strain equal to #[span.genesys s].
                        li #[em See Medicine Check supra].
                    h5 Healing Critical Injuries
                    ul
                        li #[strong Natural Rest:] After #[strong one week] of rest a character may attempt a #[strong Resilience] check with a difficulty set by the Critical Injury table. A success heals the injury, a failure does not. A #[span.genesys t] heals an additional Critical Injury.
                        li #[strong Medicine Check:] A Medicine Check may be used once per week to heal a Critical Injury, using the difficulty on the Critical Injury table.
                    .table-responsive
                        table#tbl-medicine-check-difficulty.table.table-striped
                            thead
                                tr
                                    th(scope="col") State of Health
                                    th(scope="col") Difficulty
                            tbody
                                tr
                                    td(scope='row') Half or less of Wound Threshold
                                    td #[span.dice.difficulty d]
                                tr
                                    td(scope='row') More than half of Wound Threshold
                                    td #[span.dice.difficulty dd]
                                tr
                                    td(scope='row') Wounds exceeding Threshold
                                    td #[span.dice.difficulty ddd]
                                tr
                                    td(scope='row') Critical Injury
                                    td #[em See Critical Injury Table]
                    p &nbsp;

                    h2#Dice Dice Tables
                    .card
                        .card-header.d-table-cell.align-middle
                            h5 Spending #[span.genesys a] and #[span.genesys t] in Combat
                            button#btn-spending-advantage-combat.btn(data-toggle='collapse', data-target='#div-spending-advantage-combat' onclick="toggleCollapseArrow('spending-advantage-combat');") +
                        #div-spending-advantage-combat.collapse
                            .table-responsive
                                table#tbl-spending-advantage-combat.table.table-striped
                                    thead
                                        tr
                                            th(scope="col") Cost
                                            th(scope="col") Result Options
                                    tbody
                                        tr
                                            td(scope='row') #[span.genesys a] or #[span.genesys t]
                                            td 
                                                p Recover 1 strain.
                                                p Add #[span.dice.boost b] to the #[em next] allied character's check.
                                                p Notice a single important detail about the ongoing scene, such as the location of a door's control panel or a weak point on an armored car.
                                                p Inflifct a Critical Injury with a successful attack that deals damage past soak (#[span.genesys a] cost may vary).
                                                P Activate an item quality (#[span.genesys a] cost may vary).
                                        tr
                                            td(scope='row') #[span.genesys aa] or #[span.genesys t]
                                            td 
                                                p Perform an immediate free maneuver. You still may not perform more than two maneuvers in a turn.
                                                p Add #[span.dice.setback b] to the targeted character's next skill check.
                                                p Add #[span.dice.boost b] to #[em any] allied allied character's next skill check, including your own.
                                        tr
                                            td(scope='row') #[span.genesys aaa] or #[span.genesys t]
                                            td 
                                                p Negate the targeted enemy's defense (such as defense gained from cover, equipment, or performing the guarded stance maneuver) until the end of the current round.
                                                p Ignore penalizing environmental effects such as inclement weather, zero gravity, or similar circumstances until the end of the active character's next turn.
                                                p When dealing damage to a target, have the attack disable the opponent or one piece of gear rather than dealing wounds or strain. This could include hobbling them temporarily with a shot to the leg, or disabling their radio. This should be agreed upon by the player and the GM, and the effects are up to the GM (although #[strong Table I.6-10: Critical Injury Result], on page 115, is a good resource to consult for possible effects). The effects should be temporary and not too excessive.
                                                p Gain +1 melee or ranged defense until the end of your character's turn.
                                                p Force the target to drop a melee or ranged weapon they are wielding.
                                        tr
                                            td(scope='row') #[span.genesys t]
                                            td 
                                                p Upgrade the difficulty of the targeted character's next check.
                                                p Upgrade the ability of #[em any] character's next check (including yours).
                                                p Do something vital, like shooting the controls to the nearby blast doors to seal them shut.
                                                p On an initiative check, perform an immediate free maneuver before combat even begins.
                                        tr
                                            td(scope='row') #[span.genesys tt]
                                            td 
                                                p When dealing damage to a target, have the attack destroy a piece of equipment the target is using, such as blowing up their assault rifle or slicing their sword in half.
                    .card
                        .card-header.d-table-cell.align-middle
                            h5 Spending #[span.genesys h] and #[span.genesys d] in Combat
                            button#btn-spending-threat-combat.btn(data-toggle='collapse', data-target='#div-spending-threat-combat' onclick="toggleCollapseArrow('spending-threat-combat');") +
                        #div-spending-threat-combat.collapse
                            .table-responsive
                                table#tbl-spending-threat-combat.table.table-striped
                                    thead
                                        tr
                                            th(scope="col") Cost
                                            th(scope="col") Result Options
                                    tbody
                                        tr
                                            td(scope='row') #[span.genesys h] or #[span.genesys d]
                                            td 
                                                p You suffer 1 strain.
                                                p You lose the benefits of a prior maneuver (such as from taking cover or assuming a guarded stance) until you perform the maneuver again.
                                        tr
                                            td(scope='row') #[span.genesys hh] or #[span.genesys d]
                                            td 
                                                p An opponent may immediately perform one free maneuver as an incidental in response to your check.
                                                p Add #[span.dice.boost b] to the targeted character’s next check.
                                                p You or an ally suffer #[span.dice.setback b] on your next action.
                                        tr
                                            td(scope='row') #[span.genesys hhh] or #[span.genesys d]
                                            td 
                                                p You fall prone.
                                                p You grant the enemy a significant advantage in the ongoing encounter, such as accidentally blasting the controls to a bridge were planning to use for your escape.
                                        tr
                                            td(scope='row') #[span.genesys d]
                                            td 
                                                p Your weapon immediately runs out of ammunition and may not be used for the remainder of the encounter.
                                                p Upgrade the difficulty of an allied character’s next check or your next check.
                                                p The tool, Brawl, or Melee weapon you're using becomes damaged (see Core Book page 89).
                    .card
                        .card-header.d-table-cell.align-middle
                            h5 Spending #[span.genesys a] and #[span.genesys t] in Social Encounters
                            button#btn-spending-advantage-social.btn(data-toggle='collapse', data-target='#div-spending-advantage-social' onclick="toggleCollapseArrow('spending-advantage-social');") +
                        #div-spending-advantage-social.collapse
                            .table-responsive
                                table#tbl-spending-advantage-social.table.table-striped
                                    thead
                                        tr
                                            th(scope="col") Cost
                                            th(scope="col") Result Options
                                    tbody
                                        tr
                                            td(scope='row') #[span.genesys a] or #[span.genesys t]
                                            td 
                                                p You recover 1 strain.
                                                p Add #[span.dice.boost b] to the next allied character’s check.
                                                p Notice a single important detail in the encounter, such as an overly curious waiter or some drapes your character can stand behind to avoid being recognized.
                                        tr
                                            td(scope='row') #[span.genesys aa] or #[span.genesys t]
                                            td 
                                                p Learn the Strength or Flaw of the targeted character.
                                                p Add #[span.dice.setback b] to the targeted character’s next check.
                                                p Add #[span.dice.boost b] to any allied character’s next check, including yours.
                                        tr
                                            td(scope='row') #[span.genesys aaa] or #[span.genesys t]
                                            td 
                                                p Learn the Desire or Fear of the targeted character.
                                                p Successfully conceal your true goal in the encounter.
                                                p Learn the true goal of your target, if your target has one.
                                        tr
                                            td(scope='row') #[span.genesys t]
                                            td 
                                                p Learn any one Motivation of any character in the encounter (with the GM’s approval).
                                                p Upgrade the difficulty of the targeted character’s next check.
                                                p Upgrade the ability of any allied character’s next check, including yours.
                                                p Do something vital to your goals for the scene, such as getting everyone’s attention, or distracting all the guards so your character’s friends have a chance to do something important.
                    .card
                        .card-header.d-table-cell.align-middle
                            h5 Spending #[span.genesys h] and #[span.genesys d] in Social Encounters
                            button#btn-spending-threat-social.btn(data-toggle='collapse', data-target='#div-spending-threat-social' onclick="toggleCollapseArrow('spending-threat-social');") +
                        #div-spending-threat-social.collapse
                            .table-responsive
                                table#tbl-spending-threat-social.table.table-striped
                                    thead
                                        tr
                                            th(scope="col") Cost
                                            th(scope="col") Result Options
                                    tbody
                                        tr
                                            td(scope='row') #[span.genesys h] or #[span.genesys d]
                                            td 
                                                p You suffer 1 strain.
                                                p You get distracted or sidetracked momentarily. This can result in your being unable to activate an ability that requires spending a maneuver on their next turn, or it may just result in their being dragged into a lengthy and boring conversation.
                                        tr
                                            td(scope='row') #[span.genesys hh] or #[span.genesys d]
                                            td 
                                                p You accidentally reveals your own Strength or Flaw.
                                                p Add #[span.dice.boost b] to the targeted character’s next check.
                                                p You or an allied character suffer #[span.dice.setback b] on your next action.
                                        tr
                                            td(scope='row') #[span.genesys hhh] or #[span.genesys d]
                                            td 
                                                p You accidentally reveal your own Desire or Fear.
                                                p You accidentally reveal your true goal in the encounter.
                                        tr
                                            td(scope='row') #[span.genesys d]
                                            td 
                                                p You accidentally reveal a Motivation of one of your allies.
                                                p You learn one false Motivation of the target character (you believe it to be true).
                                                p Upgrade the difficulty of an allied character’s next check or your next check.
                                                p You become so embroiled in irrelevant events in the encounter that you cannot do anything important during the next round.
                    .card
                        .card-header.d-table-cell.align-middle
                            h5 Spending #[span.genesys h] and #[span.genesys d] on Magic Skill Checks
                            button#btn-spending-threat-magic.btn(data-toggle='collapse', data-target='#div-spending-threat-magic' onclick="toggleCollapseArrow('spending-threat-magic');") +
                        #div-spending-threat-magic.collapse
                            .table-responsive
                                table#tbl-spending-threat-magic.table.table-striped
                                    thead
                                        tr
                                            th(scope="col") Cost
                                            th(scope="col") Result Options
                                    tbody
                                        tr
                                            td(scope='row') #[span.genesys h] or #[span.genesys d]
                                            td 
                                                p The magical energies exhaust your character, and they suffer 2 strain or 1 wound (rolling player's choice).
                                                p Your character and all allied spellcasters in the encounter add #[span.dice.setback b] to any attempts to cast spells until the end of your next turn.
                                        tr
                                            td(scope='row') #[span.genesys hh] or #[span.genesys d]
                                            td 
                                                p The spell doesn’t take effect until the start of the next round, or after a minute in narrative gameplay.
                                                p If you are using a magical item, it becomes damaged one step (see #[strong Table I.5–4: Repairing Gear], on page 89).
                                                p Until the end of the encounter, enemy spellcasters add #[span.dice.boost b] when casting a spell that targets you.
                                        tr
                                            td(scope='row') #[span.genesys hhh] or #[span.genesys d]
                                            td 
                                                p The spell is slightly more powerful than expected. One character of the GM's choice is targeted or otherwise affected by the spell as well.
                                                p All other spellcasters and creatures attuned to magical energies within a day's travel become aware of the character (and depending on their disposition, may be very interested in finding them and doing them harm).
                                        tr
                                            td(scope='row') #[span.genesys d]
                                            td 
                                                p You overexert yourself, or lose your magical connection and are unable to cast spells for the rest of the encounter or scene.
                                                p The GM picks the target of the character's spell. If the caster is an NPC, the controlling player picks the target of the spell instead.
                                        tr
                                            td(scope='row') #[span.genesys dd]
                                            td 
                                                p The character completely lose control of their magical energies, suffering one Critical Injury (at the GM's discretion, this may instead take the form of some of terrible or hilarious misfortune, such as temporarily being turned into a small woodland creature, being struck by lightning on a clear day, swapping bodies with someone else in the encounter for the remainder of the day, or summoning an avatar of divine or infernal wrath).
                                                p If the character is using a magical item, it is completely destroyed.

                    h2#Magic Magic
                    h5 Penalties When Casting Spells
                    .table-responsive
                        table#tbl-spell-penalties.table.table-striped
                            thead
                                tr
                                    th(scope="col") Condition
                                    th(scope="col") Penalty
                            tbody
                                tr
                                    td(scope='row') The character does not have at least one free hand (wielded implements count as a free hand).
                                    td +#[span.dice.setback b]
                                tr
                                    td(scope='row') The character is unable to speak (gagged, silenced, or otherwise).
                                    td +#[span.dice.setback bb]
                                tr
                                    td(scope='row') The character is wearing heavy armor that might hamper their gestures (armor with +2 soak or more), or carrying as shield. This could also include other restrictive outfits, at GM's discretion.
                                    td +#[span.dice.setback b]
                                tr
                                    td(scope='row') The character is in circumstances that interfere with their ability to concentrate, such as trying to cast while swimming or hanging from a rope, being buffeted by a sandstorm, or casting a spell that doesn't target the person they're fighting in hand-to-hand combat.
                                    td Upgrade the difficulty once (or more at your GM's discretion).
                                        

        +footer