include /mixins.pug
html(lang="en")
    head
        title Cheat Sheet | Osmium: Galaxies of Fantasy Adventure
        +header

        // My Files
        link(href='./../content/style.css', rel='stylesheet', type='text/css')
        script(src='./../content/javascript/script.js')

    body
        +navbar
        .container-fluid
            .row
                .hidden-xs.col-lg-2
                .col-lg-8.col-12
                    h1 Cheat Sheet
                    .card
                        .card-header.d-table-cell.align-middle
                            h5 Symbol Key
                            button#btn-symbol-key.btn(data-toggle='collapse', data-target='#div-symbol-key' onclick="toggleCollapseArrow('symbol-key');") +
                        #div-symbol-key.collapse.container
                            p(style='margin-top:1rem;') #[span.genesys s] = Success
                            p #[span.genesys f] = Failure
                            p #[span.genesys a] = Advantage
                            p #[span.genesys h] = Threat
                            p #[span.genesys t] = Triumph
                            p #[span.genesys d] = Despair
                            p #[span.dice.ability d] = Ability
                            p #[span.dice.difficulty d] = Difficulty
                            p #[span.dice.boost b] = Boost
                            p #[span.dice.setback b] = Setback
                            p #[span.dice.proficiency c] = Proficiency
                            p #[span.dice.challenge c] = Challenge
                    h2 Combat
                    h5 Weapon Stats
                    ul 
                        li #[strong Damage:] A flat number means a weapon deals that much damage. A +X means that weapon does that much damage plus the wielder's Brawn. Each uncancelled #[span.genesys s] adds 1 damage to the attack.
                        li #[strong Crit:] The number of #[span.genesys a] you need to spend to cause a critical injury.
                        li #[strong Special abilities] vary in the amount of #[span.genesys a] they require to activate.
                    h5 Attack Difficulties
                    p Melee attack in engaged range has a base difficulty of #[span.dice.difficulty dd]. All modifiers are placed on that base.
                    .card
                        .card-header.d-table-cell.align-middle
                            h5 Ranged Attack Difficulties
                            button#btn-ranged-attack-difficulties.btn(data-toggle='collapse', data-target='#div-ranged-attack-difficulties' onclick="toggleCollapseArrow('ranged-attack-difficulties');") +
                        #div-ranged-attack-difficulties.collapse
                            .table-responsive
                                table#tbl-ranged-attack-difficulties.table.table-striped
                                    thead
                                        tr
                                            th(scope="col") Ranged
                                            th(scope="col") Difficulty
                                    tbody
                                        tr
                                            td(scope='row') Engaged
                                            td #[span.dice.difficulty dd] for light Ranged #[br] #[span.dice.difficulty ddd] for heavy Ranged
                                        tr 
                                            td(scope='row') Short
                                            td #[span.dice.difficulty d]
                                        tr 
                                            td(scope='row') Medium
                                            td #[span.dice.difficulty dd]
                                        tr 
                                            td(scope='row') Long
                                            td #[span.dice.difficulty ddd]
                                        tr 
                                            td(scope='row') Extreme
                                            td #[span.dice.difficulty dddd]
                    h5 Modifiers
                    ul
                        li Ranged Target is Engaged with an ally: Upgrade one #[span.dice.difficulty d] to #[span.dice.challenge c]
                        li Target is #[strong prone]: Melee adds #[span.dice.boost b]; Ranged adds #[span.dice.setback b]
                        li Aiming: Add #[span.dice.boost b] if one maneuver, #[span.dice.boost bb] if two.
                        li Target is guarded: Add #[span.dice.setback b] to check.
                        li Engaged target has made a ranged attack: Add #[span.dice.boost b] to next melee attack.
                    h5 Maneuvers
                    p Only a max of two maneuvers can be performed in a turn. The first is free, the second costs 2 strain or an action.
                    ul 
                        li #[strong Aim:] Add #[span.dice.boost b] to next attack. May be taken twice in a row.
                        li #[strong Guard:] Add #[span.dice.setback b] to the next attack against the target. You may guard yourself.
                        li #[strong Assist:] Add #[span.dice.boost b] to an ally's next check. Explain how.
                        li #[strong Interact] with environment or gear.
                        li #[strong Mount] or dismount.
                        li #[strong Move:] One maneuver to move between Engaged and Short Range. Two maneuvers to move to or from Medium/Long/Extreme, each band requiring two maneuevers.
                    h5 Actions
                    ul 
                        li Activate an ability, attack, or skill check.
                        li Exchange action for maneuver.
                    h2 Wounds, Strain, and Critical Injuries
                    ul
                        li Exceeding one's Wound Threshold causes the character to be knocked out / incapacitated, and they immediately suffer one Critical Injury.
                        li Exceeding one's Strain Threshold causes teh character to be incapacitated.
                        li Roll on the Critical Injury Table when you suffer a Critical Injury. Add +10 to the roll for each critical injury you are already suffering from.
                    h5 Healing Wounds
                    ul 
                        li #[strong Natural Rest:] One night of rest heals one wound.
                        li #[strong Medicine Check:] A character may receive #[strong ONE] Medicine check per encounter to heal wounds. Difficulty is based on state of health. On a success, the target heals wounds equal to #[span.genesys s] and strain equal to #[span.genesys a].
                        ul 
                            li Medicine check difficulty is increased by 2 if a physician is healing themselves.
                            li Medicine check difficulty is increased by 1 if a physician is healing without tools. 
                        li #[strong Autohealers:] Heals #[em n] Wounds, where #[em n] is 5 minus the number of autohealers already used in the last 24 hours.
                    h5 Healing Strain
                    ul
                        li #[strong Natural Rest:] One night of rest heals all strain.
                        li #[strong End of an Encounter:] A character may make a #[strong Simple (-) Cool] or #[strong Discipline check] to recover strain equal to #[span.genesys s].
                        li #[em See Medicine Check supra].
                    h5 Healing Critical Injuries
                    ul
                        li #[strong Natural Rest:] After #[strong one week] of rest a character may attempt a #[strong Resilience] check with a difficulty set by the Critical Injury table. A success heals the injury, a failure does not. A #[span.genesys t] heals an additional Critical Injury.
                        li #[strong Medicine Check:] A Medicine Check may be used once per week to heal a Critical Injury, using the difficulty on the Critical Injury table.
                    .table-responsive
                        table#tbl-medicine-check-difficulty.table.table-striped
                            thead
                                tr
                                    th(scope="col") State of Health
                                    th(scope="col") Difficulty
                            tbody
                                tr
                                    td(scope='row') Half or less of Wound Threshold
                                    td #[span.dice.difficulty d]
                                tr
                                    td(scope='row') More than half of Wound Threshold
                                    td #[span.dice.difficulty dd]
                                tr
                                    td(scope='row') Wounds exceeding Threshold
                                    td #[span.dice.difficulty ddd]
                                tr
                                    td(scope='row') Critical Injury
                                    td #[em See Critical Injury Table]
                    h2 Dice Tables
                    .card
                        .card-header.d-table-cell.align-middle
                            h5 Spending #[span.genesys a] and #[span.genesys t] in Combat
                            button#btn-spending-advantage-combat.btn(data-toggle='collapse', data-target='#div-spending-advantage-combat' onclick="toggleCollapseArrow('spending-advantage-combat');") +
                        #div-spending-advantage-combat.collapse
                            .table-responsive
                                table#tbl-spending-advantage-combat.table.table-striped
                                    thead
                                        tr
                                            th(scope="col") Cost
                                            th(scope="col") Result Options
                                    tbody
                                        tr
                                            td(scope='row') #[span.genesys a] or #[span.genesys t]
                                            td 
                                                p Recover 1 strain.
                                                p Add #[span.dice.boost b] to the #[em next] allied character's check.
                                                p Notice a single important detail about the ongoing scene, such as the location of a door's control panel or a weak point on an armored car.
                                                p Inflifct a Critical Injury with a successful attack that deals damage past soak (#[span.genesys a] cost may vary).
                                                P Activate an item quality (#[span.genesys a] cost may vary).
                                        tr
                                            td(scope='row') #[span.genesys aa] or #[span.genesys t]
                                            td 
                                                p Perform an immediate free maneuver. You still may not perform more than two maneuvers in a turn.
                                                p Add #[span.dice.setback b] to the targeted character's next skill check.
                                                p Add #[span.dice.boost b] to #[em any] allied allied character's next skill check, including your own.
                                        tr
                                            td(scope='row') #[span.genesys aaa] or #[span.genesys t]
                                            td 
                                                p Negate the targeted enemy's defense (such as defense gained from cover, equipment, or performing the guarded stance maneuver) until the end of the current round.
                                                p Ignore penalizing environmental effects such as inclement weather, zero gravity, or similar circumstances until the end of the active character's next turn.
                                                p When dealing damage to a target, have the attack disable the opponent or one piece of gear rather than dealing wounds or strain. This could include hobbling them temporarily with a shot to the leg, or disabling their radio. This should be agreed upon by the player and the GM, and the effects are up to the GM (although #[strong Table I.6-10: Critical Injury Result], on page 115, is a good resource to consult for possible effects). The effects should be temporary and not too excessive.
                                                p Gain +1 melee or ranged defense until the end of your character's turn.
                                                p Force the target to drop a melee or ranged weapon they are wielding.
                                        tr
                                            td(scope='row') #[span.genesys t]
                                            td 
                                                p Upgrade the difficulty of the targeted character's next check.
                                                p Upgrade the ability of #[em any] character's next check (including yours).
                                                p Do something vital, like shooting the controls to the nearby blast doors to seal them shut.
                                                p On an initiative check, perform an immediate free maneuver before combat even begins.
                                        tr
                                            td(scope='row') #[span.genesys tt]
                                            td 
                                                p When dealing damage to a target, have the attack destroy a piece of equipment the target is using, such as blowing up their assault rifle or slicing their sword in half.

        +footer