
include /mixins.pug
html(lang="en")
    head
        title Osmium: Galaxies of Fantasy Adventure
        +header

        // My Files
        link(href='./../content/style.css', rel='stylesheet', type='text/css')
        script(src='./../content/javascript/script.js')

    body
        +navbar
        .container-fluid
            .row
                .hidden-xs.col-lg-2
                .col-lg-8.col-12
                    h1 Magic
                    .card
                        .card-header.d-table-cell.align-middle
                            h5 Attributes and Strength Skills
                            button#btn-magic-attributes.btn(data-toggle='collapse', data-target='#div-magic-attributes' onclick="toggleCollapseArrow('magic-attributes');") &ndash;
                        #div-magic-attributes.collapse.show
                            table#tbl-magic-attributes.table.table-striped
                                thead
                                    tr
                                        th(scope="col") Magic
                                        th(scope="col") Attribute
                                        th(scope="col") Strength Skill
                                tbody
                                    tr
                                        td(scope="row") Blue Magic
                                        td Intellect
                                        td Science
                                    tr
                                        td(scope="row") Purple Magic
                                        td Cunning
                                        td Lore
                                    tr
                                        td(scope="row") Red Magic
                                        td Willpower
                                        td Science 
                    p &nbsp;
                    .card
                        .card-header.d-table-cell.align-middle
                            h5 Available Spell Actions
                            button#btn-available-spell-actions.btn(data-toggle='collapse', data-target='#div-available-spell-actions' onclick="toggleCollapseArrow('available-spell-actions');") &ndash;
                        #div-available-spell-actions.collapse.show
                            table#tbl-available-spell-actions.table.table-striped
                                thead
                                    tr
                                        th(scope="col") Spell Action
                                        th(scope="col") Blue Magic
                                        th(scope="col") Purple Magic 
                                        th(scope="col") Red Magic 
                                tbody
                                    tr
                                        td(scope="row") Magical Attack
                                        td Yes
                                        td Yes
                                        td No
                                    tr
                                        td(scope="row") Augment
                                        td No
                                        td Yes
                                        td Yes
                                    tr
                                        td(scope="row") Barrier
                                        td Yes
                                        td No 
                                        td Yes
                                    tr
                                        td(scope="row") Conjure
                                        td TBD
                                        td TBD
                                        td TBD
                                    tr
                                        td(scope="row") Curse
                                        td No
                                        td Yes 
                                        td Yes
                                    tr
                                        td(scope="row") Dispel
                                        td Yes
                                        td Yes
                                        td No 
                                    tr
                                        td(scope="row") Heal
                                        td No
                                        td No 
                                        td Yes


                    h2 Spellbook
                    p Here's a collection of spells for players to model their effects after.
                    h3 Blue Magic
                    h4 Magic Missile
                    p(style="margin-bottom: 0.5rem;") 
                        em A bolt of pure force launches from your hand.
                    +spellstat('Attack', 'Short (but not Engaged)', 'd', 'No')
                    p #[strong Effect:] You deal damage to the target equal to your Intellect, plus 1 damage per uncanceled #[span.genesys s]. You may not deal criticals except with a #[span.genesys t].

                    h4 Firebolt
                    p(style="margin-bottom: 0.5rem;") 
                        em A bolt of pure force, so energized it erupts into plasma as it finds your foe.
                    +spellstat('Attack with Fire', 'Short (but not Engaged)', 'dd', 'No')
                    p #[strong Effect:] You deal damage to the target equal to your Intellect, plus 1 damage per uncanceled #[span.genesys s]. You may not deal criticals except with a #[span.genesys t]. The attack gains the Burn quality (GCB 87) with a rating equal to your character’s ranks in Science.

                    h4 Glimmering Shield
                    p(style="margin-bottom: 0.5rem;") 
                        em You surround an ally with a barrier of pure magic, slightly opaque to the outside world.
                    +spellstat('Barrier with Add Defense', 'Short', 'ddd', 'Yes')
                    p #[strong Effect:] If the check is successful, until the end of the character’s next turn, reduce the damage of all hits the target suffers by one, and further reduce it by one for every uncanceled #[span.genesys ss] in the spell check beyond the first. The target increases their melee and ranged defense by 1 (to a maximum of 4).

                    h4 Gravitic Well
                    p(style="margin-bottom: 0.5rem;") 
                        em You warp gravity around your friend, causes punches and bullets to veer off course.
                    +spellstat('Barrier with Gravitic', 'Short', 'ddd', 'Yes')
                    p #[strong Effect:] If the check is successful, until the end of the character’s next turn, reduce the damage of all hits the target suffers by one, and further reduce it by one for every uncanceled #[span.genesys ss] in the spell check beyond the first. The target’s engaged enemies automatically disengage from the target, and may not engage while the spell persists.

                    h3 Purple Magic
                    h4 Eldritch Blast
                    p(style="margin-bottom: 0.5rem;")
                        em You strike your target with shadow made manifest.
                    +spellstat('Attack', 'Short (but not Engaged)', 'd', 'No')
                    p #[strong Effect:] You deal damage to the target equal to your Cunning, plus 1 damage per uncanceled #[span.genesys s]. You may not deal criticals except with a #[span.genesys t].

                    h4 Vicious Mockery
                    p(style="margin-bottom: 0.5rem;")
                        em No one knows how to make words cut like the fey, especially when they lace their words with psychic power.
                    +spellstat('Attack with Non-Lethal', 'Short (but not Engaged)', 'dd', 'No')
                    p #[strong Effect:] You deal Stun Damage (Core Rules page 88) to the target equal to your Cunning, plus 1 damage per uncanceled #[span.genesys s]. You may not deal criticals except with a #[span.genesys t].

                    h4 Sylphan Speed
                    p(style="margin-bottom: 0.5rem;")
                        em Your target becomes slightly blurred as it gains the speed of the wind spirits.
                    +spellstat('Augment with Haste and Swift', 'Short (can target self)', 'dddd', 'Yes')
                    p #[strong Effect:] Until the end of the caster’s next turn, the target increases all ability checks by #[span.dice.ability d]. They gain a free extra maneuver (though they still cannot take more than 2 maneuvers), and the target is not affected by difficult terrain, nor can they be immobilized.

                    h4 Curse of Cold
                    p(style="margin-bottom: 0.5rem;")
                        em With a frosted breath, you utter the words chill your target’s very soul.
                    +spellstat('Curse with Enervate', 'Short', 'ddd', 'Yes')
                    p #[strong Effect:] Until the end of the caster’s next turn, the target decreases all ability checks by #[span.dice.ability d]. Whenever they take strain, they take 1 additional strain.

                    // Spell Action Tables
                    h2 Spell Action Tables
                    .card
                        .card-header.d-table-cell.align-middle
                            h5 Available Spell Actions
                            button#btn-magical-attack-action.btn(data-toggle='collapse', data-target='#div-magical-attack-action' onclick="toggleCollapseArrow('magical-attack-action');") &ndash;
                        #div-magical-attack-action.collapse.show
                            table#tbl-magical-attack-action.table.table-striped
                                thead
                                    tr
                                        th(scope="col") Additional Effect
                                        th(scope="col") Diff Mod 
                                tbody
                                    tr 
                                        td(scope="row") #[strong Blast:] The attack gains the Blast quality with a rating equal to your character’s ranks in their Strength Skill.
                                        td +#[span.dice.difficulty d]
                                    tr 
                                        td(scope="row") #[strong Close Combat:] May select a target engaged with your character.
                                        td +#[span.dice.difficulty d]
                                    tr
                                        td(scope="row") #[strong Deadly:] The attack gains a Critical rating of 2. The attack also gains the Vicious quality with a rating equal to the character’s ranks in their Strength Skill.
                                        td +#[span.dice.difficulty d]
                                    tr
                                        td(scope="row") #[strong Fire:] #[em Blue Magic only. ] The attack gains the Burn quality (GCB 87) with a rating equal to your character’s ranks in their Strength Skill.
                                        td +#[span.dice.difficulty d]
                                    tr
                                        td(scope="row") #[strong Ice:] The attack gains the Ensnare quality (GCB 87) with a rating equal to the character’s ranks in their Strength Skill.
                                        td +#[span.dice.difficulty d]
                                    tr
                                        td(scope="row") #[strong Impact:] The attack gains the Knockdown quality (GCB 88). The attack also gains the Disorient quality (GCB 87) with a rating equal to the character’s ranks in their Strength skill.
                                        td +#[span.dice.difficulty d]
                                    tr
                                        td(scope="row") #[strong Lightning:] #[em Blue Magic only. ] The attack gains the Stun quality (GCB 88) with a rating equal to the character's ranks in their Strength Skill. The attack also gains the Auto-fire quality (GCB 86). (You must increase the difficulty by one to use the Auto-fire quality in addition to the increase for the Lightning modifier.)
                                        td +#[span.dice.difficulty d]
                                    tr
                                        td(scope="row") #[strong Manipulative:] If the attack hits, you may spend #[span.genesys a] to move the target up to one range band in any direction.
                                        td +#[span.dice.difficulty d]
                                    tr
                                        td(scope="row") #[strong Non-Lethal:] Purple Magic only. The attack gains the Stun Damage quality (GCB 88).
                                        td +#[span.dice.difficulty d]
                                    tr
                                        td(scope="row") #[strong Range:] Increase the range of the spell by one range band. This may be added multiple times, increasing the range by one range band each time.
                                        td +#[span.dice.difficulty d]
                                    tr
                                        td(scope="row") #[strong Destructive:] The attack gains the Sunder quality (GCB 88). The attack also gains the Pierce quality (GCB 88) with a rating equal to the character's ranks in their Strength Skill.
                                        td +#[span.dice.difficulty dd]
                                    tr
                                        td(scope="row") #[strong Empowered:] The attack deals damage equal to twice the characteristic linked to the skill (instead of dealing damage equal to the characteristic). If the attack has the Blast quality, it affects all characters within short range, instead of engaged. 
                                        td +#[span.dice.difficulty dd]
                                    tr
                                        td(scope="row") #[strong Poisonous:] #[em Purple Magic only. ] If the attack deals damage, the target must immediately make a #[strong Hard (#[span.dice.difficulty ddd]) Resilience check] or suffer wounds equal to the character's ranks in Lore, and strain equal to the character's ranks in Lore. This counts as a poison.
                                        td +#[span.dice.difficulty dd]
