
include /mixins.pug
html(lang="en")
    head
        title Osmium: Galaxies of Fantasy Adventure
        +header

        // My Files
        link(href='./../content/style.css', rel='stylesheet', type='text/css')
        script(src='./../content/javascript/script.js')

    body
        +navbar
        .container-fluid
            .row
                .hidden-xs.col-lg-2
                .col-lg-8.col-12
                    h1 Magic
                    .card
                        .card-header.d-table-cell.align-middle
                            h5 Attributes and Strength Skills
                            button#btn-magic-attributes.btn(data-toggle='collapse', data-target='#div-magic-attributes' onclick="toggleCollapseArrow('magic-attributes');") &ndash;
                        #div-magic-attributes.collapse.show
                            table#tbl-magic-attributes.table.table-striped
                                thead
                                    tr
                                        th(scope="col") Magic
                                        th(scope="col") Attribute
                                        th(scope="col") Strength Skill
                                tbody
                                    tr
                                        td(scope="row") Blue Magic
                                        td Intellect
                                        td Science
                                    tr
                                        td(scope="row") Purple Magic
                                        td Cunning
                                        td Lore
                                    tr
                                        td(scope="row") Red Magic
                                        td Willpower
                                        td Science 
                    p 
                    .card
                        .card-header.d-table-cell.align-middle
                            h5 Available Spell Actions
                            button#btn-available-spell-actions.btn(data-toggle='collapse', data-target='#div-available-spell-actions' onclick="toggleCollapseArrow('magic-attributes');") &ndash;
                        #div-available-spell-actions.collapse.show
                            table#tbl-available-spell-actions.table.table-striped
                                thead
                                    tr
                                        th(scope="col") Spell Action
                                        th(scope="col") Blue Magic
                                        th(scope="col") Purple Magic 
                                        th(scope="col") Red Magic 
                                tbody
                                    tr
                                        td(scope="row") Magical Attack
                                        td Yes
                                        td Yes
                                        td No
                                    tr
                                        td(scope="row") Augment
                                        td No
                                        td Yes
                                        td Yes
                                    tr
                                        td(scope="row") Barrier
                                        td Yes
                                        td No 
                                        td Yes
                                    tr
                                        td(scope="row") Conjure
                                        td TBD
                                        td TBD
                                        td TBD
                                    tr
                                        td(scope="row") Curse
                                        td No
                                        td Yes 
                                        td Yes
                                    tr
                                        td(scope="row") Dispel
                                        td Yes
                                        td Yes
                                        td No 
                                    tr
                                        td(scope="row") Heal
                                        td No
                                        td No 
                                        td Yes