include /mixins.pug
html(lang="en")
    head
        title Osmium: Galaxies of Fantasy Adventure
        +header

        // My Files
        link(href='./../content/style.css', rel='stylesheet', type='text/css')
        script(src='./../content/javascript/script.js')

    body
        +navbar
        .container-fluid
            .row
                .hidden-xs.col-lg-2
                .col-lg-8.col-12
                    h1 Talents
                    p The following talents are available in the Osmium setting. This list supersedes the talents available in the Genesys Core Rules (though it does incorporate most of them).
                    p(style="text-align: center;") #[a(href='#tier-1') Tier 1] | #[a(href='#tier-2') Tier 2] | #[a(href='#tier-3') Tier 3] | #[a(href='#tier-4') Tier 4] | #[a(href='#tier-5') Tier 5]
                    h3#tags Tags
                    p In order to help search for talents that might be of use to your character, each talent is tagged. Searching for a [TAG] should help you jump through talents that you’re looking for.
                    p There may be  talents that have no tags, if no current tags make sense.
                    p The current tags are:
                    ul 
                        li [Adventurer] – 
                            em For general purpose adventuring awesomeness, including luck.
                        li [Athleticism] – 
                            em For feats of Athletics, Coordination, and movement.
                        li [Awareness] – 
                            em See and spotting things.
                        li [Beasts] – 
                            em We Tarzan now, bois.
                        li [Brawl] – 
                            em With use of the Brawl skill.
                        li [Combat] – 
                            em If this is the kind of thing that would get Brawl, Melee, and Range tags, I’m just shortcutting to Combat. Search for both your type of thing and Combat.
                        li [Computers] – 
                            em teh hakzors.
                        li [Cyber] – 
                            em Cybernetic enhancement. Not yet in active development.
                        li [Knowledge] – 
                            em Knowing things.
                        li [Leader] – 
                            em Warlord talents, that benefit your allies in combat. Either inspiration, or tanking.
                        li [Magic] – 
                            em Spellcasting shenanigans, and magic resistance.
                        li [Mechanics] – 
                            em Fixin’ things.
                        li [Medicine] – 
                            em Healing people.
                        li [Melee] – 
                            em Swords. Boards, also.
                        li [Ranged] – 
                            em Have gun, will travel.
                        li [Skulduggery] – 
                            em General roguishness. Not just the skill; anything suspect in the eyes of the law, or morality.
                        li [Social] – 
                            em Face talents.
                        li [Tough] – 
                            em Not-dying oriented talents.
                        li [Vehicles] – 
                            em Wheelpeople.

                    h3#tier-1 Tier 1
                    h6 All-Terrain Driver
                    +talentstat('1', 'Passive','No','[Vehicles]')
                    p Your character does not suffer usual penalties for driving through difficult terrain when using Piloting.

                    h6 Bedside Manner
                    +talentstat('1', 'Passive', 'Yes', '[Medicine]')
                    p When a patient under your character’s care heals wounds from natural rest, they heal additional wounds equal to twice your character’s ranks in Bedside Manner.

                    h6 Black Market Contacts
                    +talentstat('1', 'Active (Incidental)', 'Yes', '[Skulduggery]')
                    p When purchasing illegal goods, your character may reduce rarity by 1 per rank of Black Market Contacts, increasing cost by 50 percent of base cost per reduction.

                    h6 Bought Info
                    +talentstat('1', 'Active (Action)', 'No', '[Skulduggery]')
                    p When making any Knowledge skill check, your character can instead use this talent to spend an amount of currency equal to fifty times the difficulty of the check and automatically succeed on the Knowledge check with one uncanceled #[span.genesys s] (instead of rolling). At your GM’s discretion, your character may not be able to use Bought Info if the information is particularly sensitive or difficult to find, or buying it doesn’t make narrative sense. The GM will tell you how long it takes to find an expert for sale.
                    
                    h6 Brace
                    +talentstat('1', 'Active (Maneuver)', 'Yes', '[Athleticism]')
                    p As a maneuver, your character may Brace themself. This allows a character to remove #[span.dice.setback b] per rank of Brace from the next skill check based on changing conditions, inclement weather, unstable surfaces, zero gravity, heavy gravity, or other disruptive physical obstacles that would make a skill check more difficult.

                    h6 Bullrush
                    +talentstat('1', 'Active (Incidental)', 'No', '[Brawl], [Melee]')
                    p When your character makes a Brawl or Melee combat check after using a maneuver to engage a target, you may spend #[span.genesys aaa] or #[span.genesys t] to use this talent to knock the target prone and move them up to one range band away from your character.

                    h6 Call 'Em
                    +talentstat('1', 'Passive', 'No', '[Ranged]')
                    p Your character does not add #[span.setback.dice b] to combat checks due to the use of the Aim maneuver.

                    h6 Catfall
                    +talentstat('1','Passive','Yes', '[Athleticism], [Tough]')
                    p When rolling Athletics or Coordination to reduce damage from falling, your character adds #[span.dice.boost b]. In addition, reduce damage and strain suffered from a fall by 1 per rank of Catfall.

                    h6 Challenge!
                    +talentstat('1', 'Active (Maneuver)', 'Yes', '[Brawl], [Melee]')
                    p Once per encounter, your character may use this talent to choose a number of adversaries within short range no greater than your character’s ranks in Challenge! (a minion group counts as a single adversary for this purpose). Until the encounter ends or your character is incapacitated, these adversaries add #[span.dice.boost b] to combat checks targeting your character and #[span.dice.setback bb] to combat checks targeting other characters.

                    h6 Clever Retort
                    +talentstat('1', 'Active (Incidental, Out of Turn)', 'No', '[Social]')
                    p Once per encounter, your character may use this talent to add automatic #[span.genesys hh] to another character’s social skill check.

                    h6 Dark Insight
                    +talentstat('1', 'Active (Incidental)', 'No', '[Magic]')
                    p Your character may use Lore as your character’s Magical Strength Skill (for example, replacing Science in Blue Magic).

                    h6 Defensive Sysops
                    +talentstat('1', 'Passive', 'No', '[Computers]')
                    p When attempting to defend a computer system against intrusion (or when someone attempts to hack a computer owned or programmed by your character) your character adds #[span.dice.setback bb] to their opponent’s checks. If your character has access to the computer system when the intrusion takes place, they are automatically aware of the intrusion.

                    h6 Deflect Spell
                    +talentstat('1', 'Active (Incidental, Out of Turn)', 'Yes', '[Magic]')
                    p When your character suffers a hit from a magic based combat check, after damage is calculated but before soak is applied (so immediately after Step 3 of Perform a Combat check, Core Rules page 102), your character may suffer 3 strain to use this talent to reduce the damage of the hit by two plus their ranks in Deflect Spell. This talent can only be used once per hit.

                    h6 Desperate Recovery
                    +talentstat('1', 'Passive', 'No', '[Tough')
                    p Before your character heals strain at the end of an encounter, if their strain is more than half of their strain threshold, they heal two additional strain.

                    h6 Duelist
                    +talentstat('1', 'Passive', 'No', '[Brawl], [Melee]')
                    p Your character adds #[span.dice.boost b] to their melee combat checks while engaged with a single opponent. Your character adds #[span.dice.boost b] to their melee combat checks while engaged with three or more opponents.

                    h6 Dungeoneer
                    +talentstat('1', 'Passive', 'Yes', '[Adventurer], [Awareness]')
                    p After your character makes a Perception or Vigilance check to notice, identify, or avoid a threat in a cavern, subterranean ruin, or similar location, your character cancels a number of uncanceled #[span.genesys h] no greater than your character's ranks in Dungeoneer.

                    h6 Durable
                    +talentstat('1', 'Passive','Yes', '[Tough]')
                    p Your character reduces any Critical Injury result they suffer by 10 per rank of Durable, to a minimum of 01.

                    h6 Extra Ammo
                    +talentstat('1', 'Passive', 'No', '[Ranged]')
                    p Cannot run out of ammo due to a #[span.genesys d]. Items with Limited Ammo quality run out of ammo as normal.

                    h6 Forager
                    +talentstat('1', 'Passive', 'No', '[Adventurer]')
                    p Your character removes up to #[span.dice.setback bb] from any skill checks they make to find food, water, or shelter. Checks to forage or search the area that your character makes take half the time they would normally.

                    h6 Grit
                    +talentstat('1', 'Passive', 'Yes', '[Tough]')
                    p Each rank of Grit increases your character’s strain threshold by one.

                    h6 Hamstring Shot
                    +talentstat('1', 'Active (Action)', 'No', '[Ranged]')
                    p Once per round, your character may use this talent to perform a ranged combat check against one non-vehicle target within range of the weapon used. If the check is successful, halve the damage inflicted by the attack (before reducing damage by the target’s soak). The target is immobilized until the end of its next turn.

                    h6 Heroic Recovery
                    +talentstat('1', 'Active (Action)', 'No', '[Tough]')
                    p 
                        em You may not take this talent if you have taken Second Wind.
                    p When your character acquires this talent, choose one characteristic. Once per encounter, you may spend one Story Point to use this talent to have your character heal strain equal to the rating of the chosen characteristic.
