include /mixins.pug
html(lang="en")
    head
        title Osmium: Galaxies of Fantasy Adventure
        +header

        // My Files
        link(href='./../content/style.css', rel='stylesheet', type='text/css')
        script(src='./../content/javascript/script.js')

    body
        +navbar
        .container-fluid
            .row
                .hidden-xs.col-lg-2
                .col-lg-8.col-12
                    h1 Talents
                    p The following talents are available in the Osmium setting. This list supersedes the talents available in the Genesys Core Rules (though it does incorporate most of them).
                    p(style="text-align: center;") #[a(href='#tier-1') Tier 1] | #[a(href='#tier-2') Tier 2] | #[a(href='#tier-3') Tier 3] | #[a(href='#tier-4') Tier 4] | #[a(href='#tier-5') Tier 5]
                    h3#tags Tags
                    p In order to help search for talents that might be of use to your character, each talent is tagged. Searching for a [TAG] should help you jump through talents that you’re looking for. These tags are not requirements, nor do they have any rules effects.
                    p The current tags are:
                    ul 
                        li [Adventurer] – 
                            em For general purpose adventuring awesomeness, including luck and talents that don't fit anywhere else.
                        li [Athleticism] – 
                            em For feats of Athletics, Coordination, and movement.
                        li [Awareness] – 
                            em See and spotting things.
                        li [Beasts] – 
                            em We Tarzan now, bois.
                        li [Brawl] – 
                            em With use of the Brawl skill.
                        li [Combat] – 
                            em If this is the kind of thing that would get Brawl, Melee, and Range tags, I’m just shortcutting to Combat. Search for both your type of thing and Combat.
                        li [Computers] – 
                            em teh hakzors.
                        li [Cyber] – 
                            em Cybernetic enhancement. Not yet in active development.
                        li [Knowledge] – 
                            em Knowing things.
                        li [Leader] – 
                            em Warlord talents, that benefit your allies in combat. Either inspiration, or tanking.
                        li [Magic] – 
                            em Spellcasting shenanigans, and magic resistance.
                        li [Mechanics] – 
                            em Fixin’ things.
                        li [Medicine] – 
                            em Healing people.
                        li [Melee] – 
                            em Swords. Boards, also.
                        li [Ranged] – 
                            em Have gun, will travel.
                        li [Skulduggery] – 
                            em General roguishness. Not just the skill; anything suspect in the eyes of the law, or morality.
                        li [Social] – 
                            em Face talents.
                        li [Tough] – 
                            em Not-dying oriented talents.
                        li [Vehicles] – 
                            em Wheelpeople.

                    h3#tier-1 Tier 1
                    h6 All-Terrain Driver
                    +talentstat('1', 'Passive','No','[Vehicles]')
                    p Your character does not suffer usual penalties for driving through difficult terrain when using Piloting.

                    h6 Bedside Manner
                    +talentstat('1', 'Passive', 'Yes', '[Medicine]')
                    p When a patient under your character’s care heals wounds from natural rest, they heal additional wounds equal to twice your character’s ranks in Bedside Manner.

                    h6 Black Market Contacts
                    +talentstat('1', 'Active (Incidental)', 'Yes', '[Skulduggery]')
                    p When purchasing illegal goods, your character may reduce rarity by 1 per rank of Black Market Contacts, increasing cost by 50 percent of base cost per reduction.

                    h6 Bought Info
                    +talentstat('1', 'Active (Action)', 'No', '[Skulduggery]')
                    p When making any Knowledge skill check, your character can instead use this talent to spend an amount of currency equal to fifty times the difficulty of the check and automatically succeed on the Knowledge check with one uncanceled #[span.genesys s] (instead of rolling). At your GM’s discretion, your character may not be able to use Bought Info if the information is particularly sensitive or difficult to find, or buying it doesn’t make narrative sense. The GM will tell you how long it takes to find an expert for sale.
                    
                    h6 Brace
                    +talentstat('1', 'Active (Maneuver)', 'Yes', '[Athleticism]')
                    p As a maneuver, your character may Brace themself. This allows a character to remove #[span.dice.setback b] per rank of Brace from the next skill check based on changing conditions, inclement weather, unstable surfaces, zero gravity, heavy gravity, or other disruptive physical obstacles that would make a skill check more difficult.

                    h6 Bullrush
                    +talentstat('1', 'Active (Incidental)', 'No', '[Brawl], [Melee]')
                    p When your character makes a Brawl or Melee combat check after using a maneuver to engage a target, you may spend #[span.genesys aaa] or #[span.genesys t] to use this talent to knock the target prone and move them up to one range band away from your character.

                    h6 Call 'Em
                    +talentstat('1', 'Passive', 'No', '[Ranged]')
                    p Your character does not add #[span.setback.dice b] to combat checks due to the use of the 
                        a.pop.pop-info(data-toggle="popover", data-html="true" tabindex="0", title="Targeting Specific Items", data-content="Normally, when targeting a specific item, you add <span class='dice setback'>bb</span> to your roll (or <span class='dice setback'>b</span> if taking two Aim maneuvers).") Aim maneuver
                        | . 

                    h6 Catfall
                    +talentstat('1','Passive','Yes', '[Athleticism], [Tough]')
                    p When rolling Athletics or Coordination to reduce damage from falling, your character adds #[span.dice.boost b]. In addition, reduce damage and strain suffered from a fall by 1 per rank of Catfall.

                    h6 Challenge!
                    +talentstat('1', 'Active (Maneuver)', 'Yes', '[Brawl], [Melee]')
                    p Once per encounter, your character may use this talent to choose a number of adversaries within short range no greater than your character’s ranks in Challenge! (a minion group counts as a single adversary for this purpose). Until the encounter ends or your character is incapacitated, these adversaries add #[span.dice.boost b] to combat checks targeting your character and #[span.dice.setback bb] to combat checks targeting other characters.

                    h6 Clever Retort
                    +talentstat('1', 'Active (Incidental, Out of Turn)', 'No', '[Social]')
                    p Once per encounter, your character may use this talent to add automatic #[span.genesys hh] to another character’s social skill check.

                    h6 Dark Insight
                    +talentstat('1', 'Active (Incidental)', 'No', '[Magic]')
                    p Your character may use Lore as your character’s Magical Strength Skill (for example, replacing Science in Blue Magic).

                    h6 Defensive Sysops
                    +talentstat('1', 'Passive', 'No', '[Computers]')
                    p When attempting to defend a computer system against intrusion (or when someone attempts to hack a computer owned or programmed by your character) your character adds #[span.dice.setback bb] to their opponent’s checks. If your character has access to the computer system when the intrusion takes place, they are automatically aware of the intrusion.

                    h6 Deflect Spell
                    +talentstat('1', 'Active (Incidental, Out of Turn)', 'Yes', '[Magic]')
                    p When your character suffers a hit from a magic based combat check, after damage is calculated but before soak is applied (so immediately after Step 3 of Perform a Combat check, Core Rules page 102), your character may suffer 3 strain to use this talent to reduce the damage of the hit by two plus their ranks in Deflect Spell. This talent can only be used once per hit.

                    h6 Desperate Recovery
                    +talentstat('1', 'Passive', 'No', '[Tough')
                    p Before your character heals strain at the end of an encounter, if their strain is more than half of their strain threshold, they heal two additional strain.

                    h6 Duelist
                    +talentstat('1', 'Passive', 'No', '[Brawl], [Melee]')
                    p Your character adds #[span.dice.boost b] to their melee combat checks while engaged with a single opponent. Your character adds #[span.dice.boost b] to their melee combat checks while engaged with three or more opponents.

                    h6 Dungeoneer
                    +talentstat('1', 'Passive', 'Yes', '[Adventurer], [Awareness]')
                    p After your character makes a Perception or Vigilance check to notice, identify, or avoid a threat in a cavern, subterranean ruin, or similar location, your character cancels a number of uncanceled #[span.genesys h] no greater than your character's ranks in Dungeoneer.

                    h6 Durable
                    +talentstat('1', 'Passive','Yes', '[Tough]')
                    p Your character reduces any Critical Injury result they suffer by 10 per rank of Durable, to a minimum of 01.

                    h6 Extra Ammo
                    +talentstat('1', 'Passive', 'No', '[Ranged]')
                    p Cannot run out of ammo due to a #[span.genesys d]. Items with Limited Ammo quality run out of ammo as normal.

                    h6 Forager
                    +talentstat('1', 'Passive', 'No', '[Adventurer]')
                    p Your character removes up to #[span.dice.setback bb] from any skill checks they make to find food, water, or shelter. Checks to forage or search the area that your character makes take half the time they would normally.

                    h6 Grit
                    +talentstat('1', 'Passive', 'Yes', '[Tough]')
                    p Each rank of Grit increases your character’s strain threshold by one.

                    h6 Hamstring Shot
                    +talentstat('1', 'Active (Action)', 'No', '[Ranged]')
                    p Once per round, your character may use this talent to perform a ranged combat check against one non-vehicle target within range of the weapon used. If the check is successful, halve the damage inflicted by the attack (before reducing damage by the target’s soak). The target is immobilized until the end of its next turn.

                    h6 Intuitive Casting
                    +talentstat('1', 'Passive', 'Yes', '[Magic]')
                    p Add a number of #[span.dice.boost b] to a spell casting skill check when your character is the first PC to act in the current encounter, where that number is equal to your ranks in Intuitive Casting.

                    h6 Jump Up
                    +talentstat('1', 'Active (Incidental)', 'No', '[Athleticism]')
                    p Once per round during your character’s turn, your character may use this talent to stand from a prone or seated position as an incidental.

                    h6 Knack for It
                    +talentstat('1', 'Passive', 'Yes', '[Knowledge]')
                    p When you purchase this talent for your character, select one skill. Your character removes #[span.dice.setback bb] from any checks they make using this skill. Each additional time you purchase this talent for your character, select two additional skills. Your character also removes #[span.dice.setback bb] from any checks they make using these skills. You cannot select combat or magic skills when choosing skills for this talent.

                    h6 Know Somebody
                    +talentstat('1', 'Active (Incidental)', 'No', '[Social]')
                    p Once per session, when attempting to purchase a legally available item, your character may use this talent to reduce its rarity by one per rank of Know Somebody.

                    h6 Let's Ride
                    +talentstat('1', 'Active (Incidental)', 'No', '[Athleticism], [Vehicles]')
                    p Once per round during your character's turn, your character can use this talent to mount or dismount from a vehicle or animal, or move from one position in a vehicle to another (such as from the cockpit to a gun turret) as an incidental. In addition, if your character suffers a short-range fall (see Core Rules page 112) from a vehicle or animal, they suffer no damage and land on their feet.

                    h6 One with Nature
                    +talentstat('1', 'Active (Incidental)', 'No', '[Adventurer]')
                    p When in the wilderness, your character may make a #[strong Simple (–) Survival check], instead of Discipline or Cool, to recover strain at the end of an encounter (see Core Rules page 117).

                    h6 Overchannel
                    +talentstat('1', 'Passive', 'Yes', '[Magic]')
                    p When casting a spell, your character may select a number of additional effect in (#[span.dice.difficulty d]) up to their ranks in Overchannel.  The effect must be limited to single (#[span.dice.difficulty d]) effects.  Your character gains 2 #[span.genesys h] per (#[span.dice.difficulty d]) added in this way to the roll, rather than increasing the difficulty of the check. This is in addition to any threat rolled normally. Threat added by this talent can be cancelled by rolled advantages.

                    h6 Painful Blow
                    +talentstat('1', 'Active (Incidental)', 'No', '[Combat]')
                    p When your character makes a combat check, you may voluntarily increase the difficulty by one to use this talent. If the target suffers one or more wounds from the combat check, the target suffers 2 strain each time they perform a maneuver until the end of the encounter.

                    h6 Parry
                    +talentstat('1', 'Active (Incidental, Out of Turn)', 'Yes', '[Melee]')
                    p When your character suffers a hit from a melee combat check, after damage is calculated but before soak is applied (so immediately after Step 3 of Perform a Combat check, Core Rules page 102), your character may suffer 3 strain to use this talent to reduce the damage of the hit by two plus their ranks in Parry. This talent can only be used once per hit, and your character needs to be wielding a Melee weapon.

                    h6 Physician
                    +talentstat('1', 'Passive', 'Yes', '[Medicine]')
                    p When making a Medicine check to help a character heal wounds, the target heals 1 additional strain per rank of Physician.

                    h6 Proper Upbringing
                    +talentstat('1', 'Active (Incidental)', 'Yes', '[Social]')
                    p When your character makes a social skill check in polite company (as determined by your GM), they may suffer a number of strain to use this talent to add an equal number of #[span.genesys a] to the check. The number may not exceed your character’s ranks in Proper Upbringing.

                    h6 Quick Draw
                    +talentstat('1', 'Active (Incidental)', 'No', '[Melee], [Ranged]')
                    p Once per round on your character’s turn, they may use this talent to draw or holster an easily accessible weapon or item as an incidental. Quick Draw also reduces a weapon’s Prepare rating by one, to a minimum of one.

                    h6 Quick Strike
                    +talentstat('1', 'Passive', 'Yes', '[Combat]')
                    p Your character adds #[span.dice.boost b] for each rank of Quick Strike to any combat checks they make against any targets that have not yet taken their turn in the current encounter.

                    h6 Rapid Reaction
                    +talentstat('1', 'Active (Incidental, Out of Turn)', 'Yes', '[Awareness], [Combat]')
                    p Your character may suffer a number of strain to use this talent to add an equal number of #[span.genesys s] to a Vigilance or Cool check they make to determine Initiative order. The number may not exceed your character’s ranks in Rapid Reaction.

                    h6 Rapid Recovery
                    +talentstat('1', 'Passive', 'Yes', '[Tough]')
                    p When healing strain after an encounter, heal 1 additional strain per rank of Rapid Recovery.

                    h6 Redundant Systems
                    +talentstat('1', 'Active (Action)', 'No', '[Mechanics], [Vehicles]')
                    p Once per session, may take a Redundant Systems action; make an #[strong Easy (#[span.dice.difficulty d]) Mechanics check] to harvest components from a functioning device to repair a broken one without breaking the first device.

                    h6 Reflect
                    +talentstat('1', 'Active (Incidental, Out of Turn)', 'Yes', '[Awareness], [Melee]')
                    p When your character suffers a hit from a Ranged combat check, after damage is calculated but before soak is applied, your character may suffer 3 strain to use this talent to reduce the damage of the hit by two plus their ranks in Reflect. This talent can only be used once per hit, and your character needs to be wielding a Shield deemed appropriate by the GM.

                    h6 Second Wind
                    +talentstat('1', 'Active (Incidental)', 'Yes', '[Tough]')
                    p
                        em You may not take this talent if you have taken the Heroic Recovery talent.
                    p Once per encounter, your character may use this talent to heal an amount of strain equal to their ranks in Second Wind.

                    h6 Shield Slam
                    +talentstat('1', 'Active (Incidental)', 'No', '[Melee]')
                    p When your character uses a shield to attack a minion or rival, you may spend #[span.genesys aaaa] or #[span.genesys t] to stagger the target until the end of the target's next turn.

                    h6 Solid Repairs
                    +talentstat('1', 'Passive', 'Yes', '[Mechanics], [Vehicles]')
                    p Your character repairs +1 hull trauma per rank of Solid Repairs whenever they repair a starship or vehicle.

                    h6 Soothing Tone
                    +talentstat('1', 'Active (Action)', 'No', '[Beasts]')
                    p Once per encounter, your character may take a Soothing Tone action. They make an #[strong Average (#[span.dice.difficulty dd]) Survival check] to allow a beast to recover strain equal to #[span.genesys s].

                    h6 Surgeon
                    +talentstat('1', 'Passive', 'Yes', '[Medicine]')
                    p When your character makes a Medicine check to heal wounds, the target heals one additional wound per rank of Surgeon.

                    h6 Swift
                    +talentstat('1', 'Passive', 'No', '[Athleticism], [Adventurer]')
                    p Your character does not suffer the penalties for moving through difficult terrain (they move through difficult terrain at normal speed without spending additional maneuvers).

                    h6 Tavern Brawler
                    +talentstat('1', 'Passive', 'No', '[Brawl]')
                    p Your character adds #[span.genesys a] to Brawl checks and combat checks using improvised weapons.

                    h6 Toughened
                    +talentstat('1', 'Passive', 'Yes', '[Tough]')
                    p Each rank of Toughened increases your character’s wound threshold by two.

                    h6 Tumble
                    +talentstat('1', 'Active (Incidental)', 'No', '[Athleticism]')
                    p Once per round on your character's turn, they may suffer 2 strain to disengage from all engaged adversaries.

                    h6 Unremarkable
                    +talentstat('1', 'Passive', 'No', 'Adventurer')
                    p Other characters add #[span.genesys f] to any checks made to find or identify your character in a crowd. The GM may rule this does not apply if you are distinctive because of your species (a Vrar on an all-Aven planet, for example).

                    h6 Wheel and Deal
                    +talentstat('1', 'Passive', 'Yes', '[Social]')
                    p When selling good legally, gain 10% more currency per rank of Wheel and Deal.

                    h3#tier-2 Tier 2

                    h6 Adroitness
                    +talentstat('2', 'Passive', 'Yes', '[Adventurer], [Athleticism]')
                    p When first acquired, choose a general skill. When making a check with that skill, reduce the time required by 25%. The GM may determine that this talent may not be used with certain skills or activities.
                    p For each rank, select an additional two skills.

                    h6 Animal Expertise
                    +talentstat('2', 'Passive', 'Yes', '[Beasts]')
                    p Add #[span.dice.boost b] per rank of Animal Expertise to all checks when interacting with beasts or animals (including combat checks). Add +10 to Critical Injury results against beasts or animals per rank of Animal Expertise.

                    h6 Barrage
                    +talentstat('2', 'Passive', 'Yes', '[Ranged], [Vehicles]')
                    p Add 1 damage per rank of Barrage to 1 hit of a successful attack while using Ranged or Gunnery skills at long or extreme range.

                    h6 Beast Wrangler
                    +talentstat('2', 'Passive', 'Yes', '[Beasts]')
                    p Add #[span.dice.boost b] per rank of Beast Wrangler to checks to tame or wrangle creatures.

                    h6 Berserk
                    +talentstat('2', 'Active (Maneuver)', 'No', '[Brawl], [Melee]')
                    p Once per encounter, your character may use this talent. Until the end of the encounter or until they are incapacitated, your character adds #[span.genesys saa] to all melee combat checks they make. However, opponents add #[span.genesys s] to all combat checks targeting your character. While berserk, your character cannot make ranged combat checks. At the end of the encounter (or when they are incapacitated), your character suffers 6 strain.

                    h6 Blackmail
                    +talentstat('2', 'Active (Incidental, Out of Turn)', 'No', '[Skulduggery], [Social]')
                    p When an NPC exceeds their strain threshold, you may spend 1 Story Point to convince that NPC to perform a single task of your choice.
                    // Source: DA

                    h6 Block
                    +talentstat('2', 'Active (Incidental, Out of Turn)', 'No', '[Melee]')
                    p
                        em Your character must have purchased the Parry talent to benefit from this talent. 
                    p While wielding a shield, your character may use the Parry talent to reduce damage from ranged attacks as well as melee attacks targeting your character.
                    // Source: ROT

                    h6 Blooded
                    +talentstat('2', 'Passive', 'Yes', '[Tough]')
                    p Add #[span.dice.boost b] per rank of Blooded to all checks to resist or recover from poisons, venoms, or toxins. Reduce duration of ongoing poisons by 1 round per rank of Blooded to a minimum of 1.
                    // Sources: ACRB, ECRB

                    h6 Bulwark
                    +talentstat('2', 'Active (Incidental, Out of Turn)', 'No', '[Melee]')
                    p 
                        em Your character must have purchased the Parry talent to benefit from this talent. 
                    p While wielding a weapon with the Defensive quality, your character may use Parry to reduce the damage of an attack targeting an engaged ally.
                    // Source: ROT

                    h6 Burly
                    +talentstat('2', 'Passive', 'Yes', '[Melee], [Tough]')
                    p Reduce any wielded weapon's Cumbersome quality and Encumbrance rating by a number equal to ranks in Burly, to a minimum of 1.
                    // Sources: FIB, DC

                    h6 Command
                    +talentstat('2', 'Passive', 'Yes', '[Social]')
                    p Add #[span.dice.boost b] per rank of Command when making Leadership checks. Affected targets add #[span.dice.boost b] to Discipline checks for next 24 hours.
                    // Sources: ACRB, ECRB, FCRB

                    h6 Confidence
                    +talentstat('2', 'Passive', 'Yes', '[Social]')
                    p Your character may decrease the difficulty of Discipline checks to avoid fear by 1 per rank of Confidence, to a minimum of #[strong Easy (#[span.dice.difficulty d])].
                    // Sources: ACRB, ECRB, FCRB

                    h6 Coordinated Assault
                    +talentstat('2', 'Active (Maneuver)', 'Yes', '[Social]')
                    p Once per turn, your character may use this talent to have a number of allies engaged with your character equal to your ranks in Leadership add #[span.genesys a] to all combat checks they make until the end of your character’s next turn. The range of this talent increases by one band per rank of Coordinated Assault beyond the first.
                    // Source: GCRB

                    h6 Counteroffer
                    +talentstat('2', 'Active (Action)', 'No', '[Social]')
                    p Once per session, your character may use this talent to choose one non-Nemesis adversary within medium range and make an #[strong opposed Negotiation versus Discipline check]. If successful, the target becomes staggered until the end of their next turn. At your GM’s discretion, you may spend #[span.genesys t] on this check to have the adversary become an ally until the end of the encounter. However, the duration of this may be shortened or extended depending on whether your GM feels your offer is appealing to the adversary and whether your character follows through on their offer!
                    // Source: GCRB

                    h6 Daring Aviator
                    +talentstat('2', 'Active (Incidental)', 'Yes', '[Vehicles]')
                    p Before your character makes a Piloting check, they may add a number of #[span.genesys h] to the results to use this talent to add an equal number of #[span.genesys s]. The number may not exceed your character’s ranks in Daring Aviator.
                    // Source: GCRB

                    h6 Debilitating Shot
                    +talentstat('2', 'Active (Incidental)', 'No', '[Vehicles]')
                    p Upon successful attack with a starship or vehicle weapon, may spend #[span.genesys aa] to reduce the maximum speed of the target by 1 until the end of the next round.
                    // Sources: ACRB, ND

                    h6 Defensive Stance
                    +talentstat('2', 'Active (Maneuver)', 'Yes', '[Combat], [Tough]')
                    p Once per round, your character may suffer a number of strain no greater than their ranks in Defensive Stance to use this talent. Then, until the end of your character’s next turn, upgrade the difficulty of all melee combat checks targeting your character a number of times equal to the strain suffered.
                    // Source: GCRB

                    h6 Defensive Sysops (Improved)
                    +talentstat('2', 'Active (Incidental)', 'No', '[Computers]')
                    p 
                        em Your character must have purchased the Defensive Sysops talent to benefit from this talent. 
                    p Before adding #[span.dice.setback bb] from Defensive Sysops to a check, use this talent to add #[span.genesys fh] to the results of the check instead.
                    // Source: GCRB

                    h6 Dirty Tricks
                    +talentstat('2', 'Active (Incidental)', 'No', '[Combat], [Skulduggery]')
                    p After your character inflicts a Critical Injury on an adversary, you may use this talent to upgrade the difficulty of that adversary’s next check.
                    // Source: ROT

                    h6 Disorient
                    +talentstat('2', 'Active (Incidental)', 'Yes', '[Combat], [Skulduggery]')
                    p After hitting a target with combat check, your character may spend #[span.genesys aa] to disorient the target for number of rounds equal to your character's ranks in Disorient.
                    // Sources: ACRB, ECRB

                    h6 Distracting Behavior
                    +talentstat('2', 'Active (Maneuver)', 'Yes', '[Social]')
                    p Make a Distracting Behavior maneuver and suffer strain no greater than ranks in Cunning. Until the beginning of next turn, an equal number of engaged NPC's suffer #[span.genesys h] on all checks. Range increases with additional ranks of Distracting Behavior.
                    // Source: FH

                    h6 Dual Wielder
                    +talentstat('2', 'Active (Maneuver)', 'No', '[Brawl], [Melee]')
                    p Your character may use this talent to decrease the difficulty of the next combined combat check (see Two- Weapon Combat, on Core Rules 
                        a.pop.pop-info(data-toggle="popover", tabindex="0", title="Dual Wielding",                             data-content="Normally, the difficulty of a dual wield attack is increased by one.") page 108
                        | ) they make during the same turn by one.
                    // Source: GCRB

                    h6 Dynamic Fire
                    +talentstat('2', 'Active (Incidental)', 'No', '[Ranged]')
                    p When making a ranged attack while engaged with an opponent, the character may suffer 2 strain to reduce the ranged modifier added for being engaged by 1 for the attack. 
                        em So, when firing a two-handed Ranged weapon, the character only increases the difficulty by 1 when engaged, and when firing a one-handed Ranged weapon, they don’t increase the difficulty at all.
                    // Source: ACRB

                    h6 Exploit
                    +talentstat('2', 'Active (Incidental)', 'Yes', '[Melee], [Ranged], [Skulduggery]')
                    p When your character makes a combat check with a Ranged or light Melee weapon, they may suffer 2 strain to use this talent to add the Ensnare quality to the attack. The rating of the Ensnare quality is equal to your character’s ranks in Exploit.
                    // Source: ROT

                    h6 Fan the Hammer
                    +talentstat('2', 'Active (Incidental)', 'No', '[Ranged]')
                    p Once per encounter before making a combat check with a pistol (your GM has the final say on whether a weapon is a pistol or not), your character may use this talent to add the Auto-fire quality to the pistol when resolving the check. If your character does, the weapon runs out of ammo exactly as with an Out of Ammo result (see Core Rules page 104).
                    // Source: GCRB

                    h6 Fearsome
                    +talentstat('2', 'Passive', 'Yes', '[Social]')
                    p When an adversary becomes engaged with the character, the character may force the adversary to make a fear check, with the difficulty equal to the character's ranks in Fearsome.
                    // Sources: DC, FCRB

                    h6 Fighter’s Stance
                    +talentstat('2', 'Active (Incidental)', 'No', '[Brawl], [Melee], [Tough]')
                    p When making a combat check, if your character has performed the 
                        a.pop.pop-info(data-toggle="popover", data-html="true" tabindex="0", title="Guarded Stance Maneuver",                             data-content="Gain Melee Defense 1, and <span class='dice setback'>b</span> to your combat checks.") Guarded Stance maneuver 
                        | this turn, you may suffer 1 strain to ignore the penalties of the Guarded Stance maneuver.
                    // Source: CCC-ESP77

                    h6 Fine Tuning
                    +talentstat('2', 'Passive', 'Yes', '[Vehicles]')
                    p When the character repairs system strain on a starship or vehicle, they repair 1 additional strain per rank of Fine Tuning.
                    // Sources: ACRB, ECRB, FCRB

                    h6 Flash of Insight
                    +talentstat('2', 'Passive', 'No', '[Knowledge]')
                    p When your character generates #[span.genesys t] on a Knowledge skill check, roll #[span.dice.boost bb] and add the results to the check, in addition to spending the #[span.genesys t] as usual.
                    // Source: ROT

                    h6 Grapple
                    +talentstat('2', 'Active (Incidental)', 'No', '[Brawl]')
                    p Your character may suffer 2 strain to use this talent. Until the start of your character's next turn, enemies must spend two maneuvers to disengage from your character.
                    // Source: ROT

                    h6 Hard Headed
                    +talentstat('2', 'Active (Action)', 'Yes', '[Tough]')
                    p On any turn in which the character is staggered or disoriented, they may perform the Hard Headed action (this action may be specifically performed even though they are normally barred from performing actions when staggered). They make a #[strong Daunting (#[span.dice.difficulty dddd]) Discipline check]. If they succeed, they are no longer staggered or disoriented. The difficulty of this check decreases by one per additional rank of Hard Headed, to a minimum of #[strong Easy(#[span.dice.difficulty d])].
                    // Sources: ACRB, ECRB

                    h6 Heightened Awareness
                    +talentstat('2', 'Passive', 'No', '[Awareness]')
                    p Allies within short range of your character add #[span.dice.boost b] to their Perception and Vigilance checks. Allies engaged with your character add #[span.dice.boost bb] instead.
                    // Source: GCRB

                    h6 Heroic Recovery
                    +talentstat('2', 'Active (Incidental)', 'No', '[Tough]')
                    p 
                        em You may not choose this talent if you have taken the Second Wind talent.
                    p When your character acquires this talent, choose one characteristic. Once per encounter, you may spend one Story Point to use this talent to have your character heal strain equal to the rating of the chosen characteristic.
                    // Source: ROT

                    h6 Hold Together
                    +talentstat('2', 'Active (Incidental, Outo f Turn)', 'No', '[Vehicles]')
                    p The character may spend on Story Point to make a Hold Together incidental immediately after a vehicle or starship he has repaired this encounter takes damage resulting in hull trauma. The character explains why the apparently serious damage was in fact superficial, and the damage from the attack becomes system strain instead.
                    // Sources: ACRB, ECRB

                    h6 Hunter's Quarry
                    +talentstat('2', 'Active (Action)', 'No', '[Ranged]')
                    p The character may take the Hunter’s Quarry action against an opponent within long range. They make a #[strong Hard (#[span.dice.difficulty ddd]) Survival check]. If the check succeeds, they upgrade the ability of all attacks made against the target by one until the end of the character's next turn.
                    // Sources: ETU, SS

                    h6 Impaling Strike
                    +talentstat('2', 'Active (Incidental)', 'No', '[Melee]')
                    p When your character inflicts a Critical Injury with a melee weapon, until the end of the target's next turn they may use this talent to immobilize the target (in addition to the other effects of the Critical Injury).
                    // Source: ROT

                    h6 Inspiring Rhetoric
                    +talentstat('2', 'Active (Action)', 'No', '[Leader], [Social]')
                    p Your character may use this talent to make an #[strong Average (#[span.dice.difficulty dd]) Leadership check]. For each #[span.genesys s] the check generates, one ally within short range heals one strain. For each #[span.genesys a], one ally benefiting from Inspiring Rhetoric heals one additional strain.
                    // Source: GCRB

                    h6 Inventor
                    +talentstat('2', 'Active (Incidental)', 'Yes', '[Knowledge], [Mechanics]')
                    p When your character makes a check to construct new items or modify existing ones, use this talent to add a number of #[span.dice.boost b] to the check equal to ranks of Inventor. In addition, your character may attempt to reconstruct devices that they have heard described but have not seen and do not have any kinds of plans or schematics for.
                    // Source: GCRB
                    
                    h6 Knockdown
                    +talentstat('2', 'Passive', 'No', '[Brawl], [Melee]')
                    p After hitting with a melee attack, may spend a #[span.genesys t] to knock the target prone.
                    // Sources: ABGR, ACRB, EBGR, ECRB

                    h6 Knows the Ropes
                    +talentstat('2', 'Passive', 'No', '[Skulduggery]')
                    p Add #[span.dice.boost b] to checks made to escape from restraints equal to ranks in Skullduggery. Spend #[span.genesys t] to free all other allies within short range.
                    //Source: DOR

                    h6 Loom
                    +talentstat('2', 'Passive', 'No', '[Skulduggery], [Social]')
                    p When an ally engaged with the character makes a successful Charm, Deception, or Negotiation check, the character adds #[span.genesys a] per rank in Coercion to the ally's check.
                    // Source: DC

                    h6 Lucky Strike
                    +talentstat('2', 'Active (Incidental)', 'No', '[Combat]')
                    p When your character purchases this talent, choose one characteristic. After your character makes a successful combat check, you may spend one Story Point to use this talent to add damage equal to your character’s ranks in that characteristic to one hit of the combat check.
                    // Source: GCRB

                    h6 Multiple Opponents
                    +talentstat('2', 'Passive', 'No', '[Brawl], [Melee]')
                    p Your character adds #[span.dice.boost b] to his Brawl and Melee combat checks when engaged with multiple opponents. This includes single groups of multiple minions.
                    //Source: FCRB

                    h6 Physical Training
                    +talentstat('2', 'Passive', 'Yes', '[Athleticism], [Tough]')
                    p Add #[span.dice.boost b] per rank of Physical Training to Athletics and Resilience checks.
                    // Sources: ACRB, DOH

                    h6 Prepared Spell
                    +talentstat('2', 'Active (Action)', 'No', '[Magic]')
                    p Once per session, your character may make a skill check to cast a spell without suffering strain.
                    // Source: CCC-TheSapient
                    
                    h6 Pride and Joy
                    +talentstat('2', 'Passive', 'No', '[Social], [Vehicles]')
                    p Choose one vehicle your character owns with a silhouette of 4 or greater; it becomes their "Pride and Joy" vehicle. Upgrade the ability of all social checks your character makes while within short range of the vehicle once.
                    // Source: DOR
                    
                    h6 Programmer Dialect
                    +talentstat('2', 'Passive', 'Yes', '[Computers], [Mechanics], [Social]')
                    p The character grants #[span.dice.boost b] per rank of Programmer Dialect to any tasks they direct NPC drones and V.I.s to perform.
                    // Sources: ABGR, ACRB, ECRB – Speaks Binary
                    
                    h6 Quick Draw (Improved)
                    +talentstat('2', 'Passive', 'No', '[Melee], [Range]')
                    p 
                        em Your character must have purchased the Quick Draw Talent to benefit from this talent. 
                    p May use Quick Draw twice per round. This also allows you to reduce the Prepare rating by 2 to a minimum of one.
                    // Source: FC
                    
                    h6 Reckless Charge
                    +talentstat('2', 'Active (Incidental)', 'No', '[Brawl], [Melee]')
                    p After using a maneuver to move engage an adversary, your character may suffer 2 strain to use this talent. They then add #[span.genesys sshh] to the results of the next Brawl or Melee combat check they make this turn.
                    // Source: ROT
                    
                    h6 Resist Disarm
                    +talentstat('2', 'Active (Incidental, Out of Turn)', 'No', '[Melee], [Tough]')
                    p Suffer 2 strain to avoid being disarmed or having your character's weapon damaged or destroyed.
                    // Source: FCRB
                    
                    h6 Scathing Tirade
                    +talentstat('2', 'Active (Action)', 'No', '[Social]')
                    p Your character may use this talent to make an #[strong Average (#[span.dice.difficulty dd]) Coercion check]. For each #[span.genesys s] the check generates, one enemy within short range suffers 1 strain. For each #[span.genesys a], one enemy affected by Scathing Tirade suffers 1 additional strain.
                    // Source: GCRB
                    
                    h6 Selective Detonation
                    +talentstat('2', 'Active (Incidental)', 'Yes', '[Mechanics]')
                    p When using a weapon with the Blast quality spend a to exclude 1 target that would be affected by the explosion, up to ranks in Selective Detonation.
                    // Sources: ACRB, DC
                    
                    h6 Shortcut
                    +talentstat('2', 'Passive', 'Yes', '[Athleticism], [Awareness], [Knowledge], [Skulduggery]')
                    p During a chase, add #[span.dice.boost b] per rank in Shortcut to any checks made to catch or escape an opponent.
                    // Sources: ACRB, ECRB, EV, SS
                    
                    h6 Side Step
                    +talentstat('2', 'Active (Maneuver)', 'Yes', '[Athleticism], [Awareness], [Skulduggery], [Tough]')
                    p Once per round, your character may suffer a number of strain no greater than their ranks in Side Step to use this talent. Until the end of your character’s next turn, upgrade the difficulty of all ranged combat checks targeting your character a number of times equal to the strain suffered.
                    // Source: GCRB
                    
                    h6 Signature Spell
                    +talentstat('2', 'Passive', 'No', '[Magic]')
                    p When your character gains this talent, decide on a signature spell for them, consisting of a particular magic action and a specific set of one or more effects. When your character casts their signature spell (consisting of the exact combination of action and effects previously chosen), reduce the difficulty of the check by one.
                    // Source: ROT
                    
                    h6 Strong Arm
                    +talentstat('2', 'Passive', 'No', '[Athleticism], [Ranged]')
                    p Treat thrown weapons as if they had 1 greater range.
                    // Sources: ACRB, EBGR, ECRB

                    h6 Stunning Blow
                    +talentstat('2', 'Active (Incidental)', 'No', '[Melee]')
                    p While making Melee checks, your character may inflict damage as strain instead of wounds. This does not ignore soak.
                    // Sources: ACRB, ECRB
                    
                    h6 Suppressing Fire
                    +talentstat('2', 'Passive', 'Yes', '[Ranged]')
                    p The character and each ally within short range may spend #[span.genesys a] on their failed Ranged checks to inflict one strain on the target per rank of Suppressing Fire. Each character can only activate this effect once per round.
                    // Sources: FIB, KTP
                    
                    h6 Threaten
                    +talentstat('2', 'Active (Incidental, Out of Turn)', 'Yes', '[Social]')
                    p After an adversary within short range of your character resolves a combat check that deals damage to one of your character’s allies, your character may suffer 3 strain to use this talent to inflict a number of strain on the adversary equal to your character’s ranks in Coercion. The range of this talent increases by one band per rank of Threaten beyond the first.
                    // Source: ROT
                    
                    h6 Time to Go
                    +talentstat('2', 'Active (Maneuver)', 'No', '[Athleticism], [Awareness]')
                    p The character may spend 1 Story Point to perform a Move maneuver as an out-of-turn incidental to attempt to move into cover or out of the blast range of a weapon or explosion. This incidental occurs after the character determines they would be hit by the blast, but before damage is applied.
                    // Sources: ACRB, DC
                    
                    h6 Tinkerer
                    +talentstat('2', 'Passive', 'Yes', '[Mechanics]')
                    p May add 1 additional hard point to a number of items equal to ranks in Tinkerer. Each item may only be modified once.
                    // Sources: ACRB, ECRB, KTP
                    
                    h6 Touch of Fate
                    +talentstat('2', 'Active (Incidental)', 'No', '[Adventurer]')
                    p Once per session, add #[span.dice.boost bb] to any 1 check.
                    // Sources: ACRB, ECRB, FCRB
                    
                    h6 Unarmed Parry
                    +talentstat('2', 'Passive', 'No', '[Brawl]')
                    p May Parry while unarmed. Reduce strain cost to Parry while unarmed by 1 (to a minimum of 1).
                    // Source: ND
                    
                    h6 Unstoppable
                    +talentstat('2', 'Passive', 'No', '[Tough]')
                    p If a Critical Injury roll is 1 or reduced to 1, do not receive the critical injury.
                    // Source: ACRB
                    
                    h6 Wraithbane
                    +talentstat('2', 'Passive', 'No', '[Combat]')
                    p Your character counts the Critical rating of their weapon as one lower to a minimum of 1 when making an attack targeting an undead adversary.
                    // Source: ROT

                    h3#tier-3 Tier 3
                    h3#tier-4 Tier 4
                    h3#tier-5 Tier 5
        +footer