
include /mixins.pug
html
    head
        title Osmium: Galaxies of Fantasy Adventure
        +header

        // My Files
        link(href='./../content/style.css', rel='stylesheet', type='text/css')
        script(src='./../content/javascript/script.js')

    body
        +navbar
        .container &nbsp;
            .row
                .col-2
                .col-8
                    h5.talent Talent One
